.tippy-box {
  background-color: transparent;
}

.tippy-content {
  padding: 0;
}

.md-popover-close-button {
  position: absolute;
  z-index: 1000;
  top: 0.5rem;

  &[data-placement='top-left'] {
    left: 0.5rem;
  }

  &[data-placement='top-right'] {
    right: 0.5rem;
  }

  svg {
    flex-shrink: 0;
  }
}
