.tippy-box {
  background-color: transparent;
}

.tippy-content {
  padding: 0;
}

.md-popover-backdrop {
  // tippy's overlay has a z-index of 9999
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.md-popover-close-button {
  position: absolute;
  z-index: 1000;
  top: 0.5rem;

  &[data-placement='top-left'] {
    left: 0.5rem;
  }

  &[data-placement='top-right'] {
    right: 0.5rem;
  }

  svg {
    flex-shrink: 0;
  }
}
