.tippy-box {
  background-color: transparent;
}

.tippy-content {
  padding: 0;
}

.md-popover-wrapper {
  border: 0.0625rem solid rgba(0, 0, 0, 0.2); // IEFIX
  border: 0.0625rem var(--modal-primary-border-style) var(--modal-primary-border-color);

  &[data-placement^='top'] > #arrow {
    top: 11px;
  }

  &[data-placement^='right'] > #arrow {
    left: -11px;
  }

  &[data-placement^='bottom'] > #arrow {
    top: -11px;
  }

  &[data-placement^='left'] > #arrow {
    right: -11px;
  }

  &[data-padded='true'] {
    padding: 0.5rem;
  }

  &[data-round='0'] {
    min-height: 0;
    min-width: 0;
  }

  &[data-round='25'] {
    border-radius: 0.25rem;
    min-height: 0.5rem;
    min-width: 0.5rem;
  }

  &[data-round='50'] {
    border-radius: 0.5rem;
    min-height: 1rem;
    min-width: 1rem;
  }

  &[data-round='75'] {
    border-radius: 0.75rem;
    min-height: 1.5rem;
    min-width: 1.5rem;
  }

  &[data-round='100'] {
    border-radius: 1rem;
    min-height: 2rem;
    min-width: 2rem;
  }

  &[data-round='125'] {
    border-radius: 1.25rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
  }

  &[data-round='150'] {
    border-radius: 1.5rem;
    min-height: 3rem;
    min-width: 3rem;
  }

  &[data-color='primary'] {
    background-color: rgba(255, 255, 255, 1); // IEFIX
    background-color: var(--theme-background-solid-primary-normal);
  }

  &[data-color='secondary'] {
    background-color: rgba(247, 247, 247, 1); // IEFIX
    background-color: var(--theme-background-solid-secondary-normal);
  }

  &[data-color='tertiary'] {
    background-color: rgba(237, 237, 237, 1); // IEFIX
    background-color: var(--theme-background-solid-tertiary-normal);
  }

  &[data-color='quaternary'] {
    background-color: rgba(255, 255, 255, 1); // IEFIX
    background-color: var(--theme-background-solid-quaternary-normal);
  }
}

.md-popover-arrow-wrapper {
  display: flex;
}

.md-popover-arrow-svg {
  path {
    stroke: rgba(0, 0, 0, 0.2); // IEFIX
    stroke: var(--modal-primary-border-color);
    stroke-width: 0.125rem;

    &[data-color='primary'] {
      fill: rgba(255, 255, 255, 1); // IEFIX
      fill: var(--theme-background-solid-primary-normal);
    }

    &[data-color='secondary'] {
      fill: rgba(247, 247, 247, 1); // IEFIX
      fill: var(--theme-background-solid-secondary-normal);
    }

    &[data-color='tertiary'] {
      fill: rgba(237, 237, 237, 1); // IEFIX
      fill: var(--theme-background-solid-tertiary-normal);
    }

    &[data-color='quaternary'] {
      fill: rgba(255, 255, 255, 1); // IEFIX
      fill: var(--theme-background-solid-quaternary-normal);
    }
  }
}
