.md-reaction-badge-wrapper {
  border-color: var(--mds-color-theme-outline-secondary-normal);
  border-width: 0.0625rem;
  margin: 0 0.125rem;

  /* Colorization */
  background-color: var(--mds-color-theme-background-secondary-normal);
  color: var(--mds-color-theme-text-primary-normal);

  .reaction-badge-count {
    height: 1rem;
    margin-left: 0.25rem;
  }

  &:hover {
    background-color: var(--mds-color-theme-background-secondary-hover);
    color: var(--mds-color-theme-text-primary-normal);
  }

  &:active {
    background-color: var(--mds-color-theme-background-secondary-active);
    color: var(--mds-color-theme-text-primary-normal);
  }

  &[data-reacted='true'] {
    color: var(--mds-color-theme-text-accent-normal);
  }
}
