.md-reaction-badge-wrapper {
  height: var(--mdc-button-height-size-20);
  margin: 0 0.125rem;
  padding: 0 0.5rem;

  /* Colorization */
  background-color: var(--mds-color-theme-background-solid-primary-normal);

  &:hover {
    background-color: var(--mds-color-theme-background-solid-secondary-normal);
  }

  &:active {
    background-color: var(--mds-color-theme-background-solid-tertiary-normal);
  }

  &[data-reacted='true'] {
    color: var(--mds-color-theme-text-accent-normal);
  }
}
