.md-tag-wrapper {
  /* unchanged variables */
  --local-border-style: var(--md-globals-border-style-solid);

  /* default color */
  --local-background-normal: var(--mds-color-theme-background-solid-tertiary-normal);
  --local-background-hover: var(--mds-color-theme-background-solid-secondary-normal);
  --local-background-active: var(--mds-color-theme-background-solid-primary-normal);
  --local-border-color: var(--mds-color-theme-outline-primary-normal);
  --local-text-color: var(--mds-color-theme-text-primary-normal);

  align-items: center;
  border-radius: 0.25rem;
  display: flex;
  height: 1.5rem;
  margin: 0.25rem;
  padding: 0 0.5rem;
  transition: background-color 0.2s;
  width: fit-content;

  &:not([isDisabled='true']) {
    &[data-color='cobalt'] {
      --local-background-normal: var(--mds-color-theme-background-label-cobalt-normal);
      --local-background-hover: var(--mds-color-theme-background-label-cobalt-hover);
      --local-background-active: var(--mds-color-theme-background-label-cobalt-active);
      --local-border-color: var(--mds-color-theme-outline-label-cobalt);
      --local-text-color: var(--mds-color-theme-text-primary-normal);
    }

    &[data-color='lime'] {
      --local-background-normal: var(--mds-color-theme-background-label-lime-normal);
      --local-background-hover: var(--mds-color-theme-background-label-lime-hover);
      --local-background-active: var(--mds-color-theme-background-label-lime-active);
      --local-border-color: var(--mds-color-theme-outline-label-lime);
      --local-text-color: var(--mds-color-theme-text-primary-normal);
    }

    &[data-color='mint'] {
      --local-background-normal: var(--mds-color-theme-background-label-mint-normal);
      --local-background-hover: var(--mds-color-theme-background-label-mint-hover);
      --local-background-active: var(--mds-color-theme-background-label-mint-active);
      --local-border-color: var(--mds-color-theme-outline-label-mint);
      --local-text-color: var(--mds-color-theme-text-primary-normal);
    }

    &[data-color='slate'] {
      --local-background-normal: var(--mds-color-theme-background-label-slate-normal);
      --local-background-hover: var(--mds-color-theme-background-label-slate-hover);
      --local-background-active: var(--mds-color-theme-background-label-slate-active);
      --local-border-color: var(--mds-color-theme-outline-label-slate);
      --local-text-color: var(--mds-color-theme-text-primary-normal);
    }

    &[data-color='violet'] {
      --local-background-normal: var(--mds-color-theme-background-label-violet-normal);
      --local-background-hover: var(--mds-color-theme-background-label-violet-hover);
      --local-background-active: var(--mds-color-theme-background-label-violet-active);
      --local-border-color: var(--mds-color-theme-outline-label-violet);
      --local-text-color: var(--mds-color-theme-text-primary-normal);
    }

    &[data-color='purple'] {
      --local-background-normal: var(--mds-color-theme-background-label-purple-normal);
      --local-background-hover: var(--mds-color-theme-background-label-purple-hover);
      --local-background-active: var(--mds-color-theme-background-label-purple-active);
      --local-border-color: var(--mds-color-theme-outline-label-purple);
      --local-text-color: var(--mds-color-theme-text-primary-normal);
    }

    &[data-color='orange'] {
      --local-background-normal: var(--mds-color-theme-background-label-orange-normal);
      --local-background-hover: var(--mds-color-theme-background-label-orange-hover);
      --local-background-active: var(--mds-color-theme-background-label-orange-active);
      --local-border-color: var(--mds-color-theme-outline-label-orange);
      --local-text-color: var(--mds-color-theme-text-primary-normal);
    }

    &[data-color='gold'] {
      --local-background-normal: var(--mds-color-theme-background-label-gold-normal);
      --local-background-hover: var(--mds-color-theme-background-label-gold-hover);
      --local-background-active: var(--mds-color-theme-background-label-gold-active);
      --local-border-color: var(--mds-color-theme-outline-label-gold);
      --local-text-color: var(--mds-color-theme-text-primary-normal);
    }
  }

  &[data-format='error'] {
    --local-background-normal: var(--mds-color-theme-background-alert-error-normal);
    --local-background-hover: var(--mds-color-theme-background-alert-error-normal);
    --local-background-active: var(--mds-color-theme-background-alert-error-normal);
    --local-border-color: var(--mds-color-theme-outline-cancel-normal);
    --local-text-color: var(--mds-color-theme-text-primary-normal);
  }

  &[data-format='overlay'] {
    --local-background-normal: var(--mds-color-theme-background-common-normal);
    --local-background-hover: var(--mds-color-theme-background-common-normal);
    --local-background-active: var(--mds-color-theme-background-common-normal);
    --local-border-color: var(--mds-color-theme-common-control-share-content-inactive);
    --local-text-color: var(--mds-color-theme-common-text-black);
  }

  &[data-format='static'] {
    --local-background-normal: var(--mds-color-theme-background-solid-primary-normal);
    --local-background-hover: var(--mds-color-theme-background-solid-primary-normal);
    --local-background-active: var(--mds-color-theme-background-solid-primary-normal);
    --local-border-color: var(--mds-color-theme-outline-primary-normal);
    --local-text-color: var(--mds-color-theme-text-primary-normal);
  }

  background-color: var(--local-background-normal);
  border-style: var(--local-border-style);
  border-color: var(--local-border-color);
  color: var(--local-text-color);

  &.md-tag-pressable {
    cursor: pointer;
  }

  &:hover {
    background-color: var(--local-background-hover);
  }

  &:active {
    background-color: var(--local-background-active);
  }
}
