.md-button-dialpad-wrapper {
  /* Sizing and spacing. */
  align-items: center;
  border-radius: 100vh;
  height: 4rem;
  width: 4rem;

  > .md-button-dialpad-inner-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > .md-button-dialpad-primary-text {
      font-size: 1.625rem;
      color: var(--mds-color-theme-text-primary-normal);
    }

    > .md-button-dialpad-secondary-text {
      font-size: 0.75rem;
      color: var(--mds-color-theme-text-secondary-normal);
      margin-top: 0.2em;
      height: 1em;
    }

    > * {
      align-items: center;
      display: flex;
      height: 1em;
      justify-content: center;
    }
  }
}
