.md-button-dialpad-wrapper {
  border: var(--md-globals-border-clear);
  cursor: pointer;
  font-family: var(--md-globals-font-default);
  outline: none !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  background-color: var(--mds-color-theme-button-secondary-normal);

  &:hover {
    background-color: var(--mds-color-theme-button-secondary-hover);
  }

  &:active {
    background-color: var(--mds-color-theme-button-secondary-pressed);
  }

  > * {
    align-items: center;
    display: flex;
    height: 1em;
    justify-content: center;
  }

  > .md-button-dialpad-primary-text {
    color: var(--mds-color-theme-text-primary-normal);
  }

  > .md-button-dialpad-secondary-text {
    color: var(--mds-color-theme-text-secondary-normal);
    margin-top: 0.2em;
  }

  &[data-disabled='true'] {
    background-color: var(--mds-color-theme-button-secondary-normal);
    color: var(--mds-color-theme-text-primary-normal);
    cursor: auto;

    > .md-button-dialpad-primary-text {
      color: var(--mds-color-theme-text-primary-normal);
    }

    > .md-button-dialpad-secondary-text {
      color: var(--mds-color-theme-text-secondary-normal);
    }

    &:hover {
      background-color: var(--mds-color-theme-button-secondary-normal);
    }

    &:active {
      background-color: var(--mds-color-theme-button-secondary-normal);
    }
  }

  /* Sizing and spacing. */
  align-items: center;
  border-radius: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;

  &[data-size='64'] {
    height: 4rem;
    width: 4rem;

    > .md-button-dialpad-primary-text {
      font-size: 1.625rem;
    }

    > .md-button-dialpad-secondary-text {
      font-size: 0.75rem;
    }
  }

  &[data-size='52'] {
    height: 3.25rem;
    width: 3.25rem;

    > .md-button-dialpad-primary-text {
      font-size: 1.25rem;
    }

    > .md-button-dialpad-secondary-text {
      font-size: 0.75rem;
    }
  }
}
