.md-menu-item-wrapper {
  position: relative;
}

.md-menu-item-tick-icon {
  svg {
    fill: var(--mds-color-theme-control-active-normal);
  }
}

.md-menu-item-tick-placeholder {
  width: 1rem;
  height: 1rem;
}
