.md-button-circle-wrapper {
  background-color: var(--mds-color-theme-button-primary-normal);
  border: var(--md-globals-border-clear);
  border-width: 0.0625rem;
  color: var(--mds-color-theme-text-inverted-normal);
  cursor: pointer;
  font-family: var(--md-globals-font-default);
  outline: none !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  &:hover,
  &.hover {
    background-color: var(--mds-color-theme-button-primary-hover);
    color: var(--mds-color-theme-text-inverted-normal);
  }

  &:active,
  &.active {
    background-color: var(--mds-color-theme-button-primary-pressed);
    color: var(--mds-color-theme-text-inverted-normal);
  }

  &[data-color='message'] {
    background-color: var(--mds-color-theme-button-accent-normal);
    color: var(--mds-color-theme-common-text-white);

    &:hover,
    &.hover {
      background-color: var(--mds-color-theme-button-accent-hover);
      color: var(--mds-color-theme-common-text-white);
    }

    &:active,
    &.active {
      background-color: var(--mds-color-theme-button-accent-pressed);
      color: var(--mds-color-theme-common-text-white);
    }
  }

  &[data-color='join'] {
    background-color: var(--mds-color-theme-button-join-normal);
    color: var(--mds-color-theme-common-text-white);

    &:hover,
    &.hover {
      background-color: var(--mds-color-theme-button-join-hover);
      color: var(--mds-color-theme-common-text-white);
    }

    &:active,
    &.active {
      background-color: var(--mds-color-theme-button-join-pressed);
      color: var(--mds-color-theme-common-text-white);
    }
  }

  &[data-color='cancel'] {
    background-color: var(--mds-color-theme-button-cancel-normal);
    color: var(--mds-color-theme-common-text-white);

    &:hover,
    &.hover {
      background-color: var(--mds-color-theme-button-cancel-hover);
      color: var(--mds-color-theme-common-text-white);
    }

    &:active,
    &.active {
      background-color: var(--mds-color-theme-button-cancel-pressed);
      color: var(--mds-color-theme-common-text-white);
    }
  }

  &[data-disabled='true'],
  &.disable {
    background-color: var(--mds-color-theme-button-primary-disabled);
    color: var(--mds-color-theme-text-primary-disabled);
    cursor: auto;

    &:hover,
    &.hover {
      background-color: var(--mds-color-theme-button-primary-disabled);
      color: var(--mds-color-theme-text-primary-disabled);
    }

    &:active,
    &.active {
      background-color: var(--mds-color-theme-button-primary-disabled);
      color: var(--mds-color-theme-text-primary-disabled);
    }
  }

  &[data-outline='true'][data-ghost='true'] {
    background-color: var(--mds-color-theme-button-secondary-normal);
    border-color: var(--mds-color-theme-outline-button-normal);
    color: var(--mds-color-theme-text-primary-normal);

    &:hover,
    &.hover {
      background-color: var(--mds-color-theme-button-secondary-hover);
      border-color: var(--mds-color-theme-outline-button-normal);
      color: var(--mds-color-theme-text-primary-normal);
    }

    &:active,
    &.active {
      background-color: var(--mds-color-theme-button-secondary-pressed);
      border-color: var(--mds-color-theme-outline-button-normal);
      color: var(--mds-color-theme-text-primary-normal);
    }

    &[data-color='join'] {
      background-color: var(--mds-color-theme-button-secondary-normal);
      border-color: var(--mds-color-theme-outline-join-normal);
      color: var(--mds-color-theme-text-success-normal);

      &:hover,
      &.hover {
        background-color: var(--mds-color-theme-button-join-hover);
        border-color: rgba(0, 0, 0, 0);
        color: var(--mds-color-theme-common-text-white);
      }

      &:active,
      &.active {
        background-color: var(--mds-color-theme-button-join-pressed);
        border-color: rgba(0, 0, 0, 0);
        color: var(--mds-color-theme-common-text-white);
      }
    }

    &[data-color='cancel'] {
      background-color: var(--mds-color-theme-button-secondary-normal);
      border-color: var(--mds-color-theme-outline-cancel-normal);
      color: var(--mds-color-theme-text-error-normal);

      &:hover,
      &.hover {
        background-color: var(--mds-color-theme-button-cancel-hover);
        border-color: rgba(0, 0, 0, 0);
        color: var(--mds-color-theme-common-text-white);
      }

      &:active,
      &.active {
        background-color: var(--mds-color-theme-button-cancel-pressed);
        border-color: rgba(0, 0, 0, 0);
        color: var(--mds-color-theme-common-text-white);
      }
    }

    &[data-disabled='true'],
    &.disable {
      background-color: var(--mds-color-theme-button-secondary-normal);
      border-color: var(--mds-color-theme-outline-disabled-normal);
      color: var(--mds-color-theme-text-primary-disabled);
      cursor: auto;

      &:hover,
      &.hover {
        background-color: var(--mds-color-theme-button-secondary-normal);
        border-color: var(--mds-color-theme-outline-disabled-normal);
        color: var(--mds-color-theme-text-primary-disabled);
      }

      &:active,
      &.active {
        background-color: var(--mds-color-theme-button-secondary-normal);
        border-color: var(--mds-color-theme-outline-disabled-normal);
        color: var(--mds-color-theme-text-primary-disabled);
      }
    }
  }

  &[data-outline='true'][data-ghost='false'] {
    background-color: var(--mds-color-theme-button-inverted-normal);
    border-color: var(--mds-color-theme-outline-button-normal);
    color: var(--mds-color-theme-text-primary-normal);

    &:hover,
    &.hover {
      background-color: var(--mds-color-theme-button-inverted-hover);
      border-color: var(--mds-color-theme-outline-button-normal);
      color: var(--mds-color-theme-text-primary-normal);
    }

    &:active,
    &.active {
      background-color: var(--mds-color-theme-button-inverted-pressed);
      border-color: var(--mds-color-theme-outline-button-normal);
      color: var(--mds-color-theme-text-primary-normal);
    }

    &[data-disabled='true'],
    &.disable {
      background-color: var(--mds-color-theme-button-inverted-normal);
      border-color: var(--mds-color-theme-outline-disabled-normal);
      color: var(--mds-color-theme-text-primary-disabled);
      cursor: auto;

      &:hover,
      &.hover {
        background-color: var(--mds-color-theme-button-inverted-normal);
        border-color: var(--mds-color-theme-outline-disabled-normal);
        color: var(--mds-color-theme-text-primary-disabled);
      }

      &:active,
      &.active {
        background-color: var(--mds-color-theme-button-inverted-normal);
        border-color: var(--mds-color-theme-outline-disabled-normal);
        color: var(--mds-color-theme-text-primary-disabled);
      }
    }
  }

  &[data-ghost='true'] {
    background-color: var(--mds-color-theme-button-secondary-normal);
    border-color: rgba(0, 0, 0, 0);
    color: var(--mds-color-theme-text-primary-normal);

    &:hover,
    &.hover {
      background-color: var(--mds-color-theme-button-secondary-hover);
      color: var(--mds-color-theme-text-primary-normal);
    }

    &:active,
    &.active {
      background-color: var(--mds-color-theme-button-secondary-pressed);
      color: var(--mds-color-theme-text-primary-normal);
    }

    &[data-disabled='true'],
    &.disable {
      background-color: var(--mds-color-theme-button-primary-disabled);
      color: var(--mds-color-theme-text-primary-disabled);
      cursor: auto;

      &:hover,
      &.hover {
        background-color: var(--mds-color-theme-button-primary-disabled);
        color: var(--mds-color-theme-text-primary-disabled);
      }

      &:active,
      &.active {
        background-color: var(--mds-color-theme-button-primary-disabled);
        color: var(--mds-color-theme-text-primary-disabled);
      }
    }
  }

  /* Sizing and spacing */

  align-items: center;
  border-radius: 100vh;
  display: flex;
  flex-shrink: 0;
  justify-content: space-evenly;

  &[data-size='64'] {
    font-size: 1.6rem;
    height: 4rem;
    width: 4rem;
  }

  &[data-size='52'] {
    font-size: 1.3rem;
    height: 3.25rem;
    width: 3.25rem;
  }

  &[data-size='40'] {
    height: 2.5rem;
    width: 2.5rem;
  }

  &[data-size='32'] {
    font-size: 0.8rem;
    height: 2rem;
    width: 2rem;
  }

  &[data-size='28'] {
    font-size: 0.7rem;
    height: 1.75rem;
    width: 1.75rem;
  }

  // this size is ONLY for AddReactionButton
  &[data-size='20'] {
    font-size: 0.7rem;
    height: 1.25rem;
    width: 1.25rem;
  }

  &[data-multiple-children='true'] {
    > *:not(:first-child) {
      margin-left: 0.1em;
    }

    &[data-size='64'] {
      font-size: 1rem;
    }

    &[data-size='52'] {
      font-size: 0.875rem;
    }

    &[data-size='40'] {
      font-size: 0.75rem;
    }

    &[data-size='32'] {
      font-size: 0.625rem;
    }

    &[data-size='28'] {
      font-size: 0.5rem;
    }
  }
}

[data-compressed='true'] {
  > .md-button-circle-wrapper {
    &[data-size='64'] {
      width: 3.2rem;
    }

    &[data-size='52'] {
      width: 2.6rem;
    }

    &[data-size='40'] {
      width: 1.875rem;
    }

    &[data-size='32'] {
      width: 1.5rem;
    }

    &[data-size='28'] {
      width: 1.31rem;
    }

    // this size is ONLY for AddReactionButton
    &[data-size='20'] {
      width: 1.2rem;
    }
  }
}
