.md-meeting-list-item-wrapper {
  position: relative;
  margin: 0.25rem 0;
  overflow: hidden;

  &:not([data-color='Transparent']) {
    background-color: var(--theme-background-secondary-normal);

    &:hover,
    &.hover {
      background-color: var(--theme-background-secondary-hover);
    }

    &:active,
    &.active {
      background-color: var(--theme-background-secondary-active);
    }

    &[data-disabled='true'],
    &.disable {
      background-color: var(--theme-background-secondary-normal);
    }
  }

  .md-meeting-list-item-start-section {
    display: flex;
    align-items: center;

    &.md-meeting-list-item-start-section-no-image {
      margin-right: 0;
    }

    .md-meeting-list-item-border {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0.3rem;
      border-radius: 0.5rem 0 0 0.5rem;
      margin-right: 0.5rem;

      &[data-color='AcceptedActive'] {
        background-color: rgba(29, 128, 95, 1); // IEFIX
        background-color: var(--meetingmarker-active-background);
      }

      &[data-color='AcceptedInactive'] {
        background-color: rgba(0, 0, 0, 0.2); // IEFIX
        background-color: var(--meetingmarker-inactive-background);
      }

      &[data-color='TentativeActive'] {
        background: webkit-repeating-linear-gradient(
          -45deg,
          transparent,
          transparent 7%,
          var(--meetingmarker-active-background) 7%,
          var(--meetingmarker-active-background) 14%
        );
        background: -o-repeating-linear-gradient(
          -45deg,
          transparent,
          transparent 7%,
          var(--meetingmarker-active-background) 7%,
          var(--meetingmarker-active-background) 14%
        );
        background: repeating-linear-gradient(
          -45deg,
          transparent,
          transparent 7%,
          var(--meetingmarker-active-background) 7%,
          var(--meetingmarker-active-background) 14%
        );
      }

      &[data-color='TentativeInactive'] {
        background: webkit-repeating-linear-gradient(
          -45deg,
          transparent,
          transparent 7%,
          var(--meetingmarker-inactive-background) 7%,
          var(--meetingmarker-inactive-background) 14%
        );
        background: -o-repeating-linear-gradient(
          -45deg,
          transparent,
          transparent 7%,
          var(--meetingmarker-inactive-background) 7%,
          var(--meetingmarker-inactive-background) 14%
        );
        background: repeating-linear-gradient(
          -45deg,
          transparent,
          transparent 7%,
          var(--meetingmarker-inactive-background) 7%,
          var(--meetingmarker-inactive-background) 14%
        );
      }
    }
  }

  .md-meeting-list-item-middle-section {
    .md-text-wrapper:first-of-type {
      margin-bottom: -0.25rem;
    }
  }

  &[data-disabled='false'] {
    .md-meeting-list-item-middle-section {
      *:first-of-type {
        color: var(--theme-text-primary-normal);
      }

      *:last-of-type:not(:first-of-type) {
        color: var(--theme-text-secondary-normal);
      }
    }
  }

  .md-meeting-list-item-end-section {
    .md-button-group-wrapper > .md-icon-wrapper > svg {
      path {
        fill: var(--theme-text-secondary-normal);
      }
    }
  }
}
