.md-meeting-list-item-wrapper {
  position: relative;
  margin: 0.25rem 0;
  overflow: hidden;

  &:not([data-color='Transparent']) {
    background-color: var(--mds-color-theme-background-secondary-normal);

    &:hover,
    &.hover {
      background-color: var(--mds-color-theme-background-secondary-hover);
    }

    &:active,
    &.active {
      background-color: var(--mds-color-theme-background-secondary-active);
    }

    &[data-disabled='true'],
    &.disable {
      background-color: var(--mds-color-theme-background-secondary-normal);
    }
  }

  &[data-color='GrayStatic'] {
    background-color: var(--mds-color-theme-background-secondary-normal);

    &.hover,
    &:hover,
    &.active,
    &:active {
      background-color: var(--mds-color-theme-background-secondary-normal);
    }
  }

  &[data-disabled='false'] {
    .md-meeting-row-content-middle-section {
      *:first-of-type {
        color: var(--mds-color-theme-text-primary-normal);
      }

      *:last-of-type:not(:first-of-type) {
        color: var(--mds-color-theme-text-secondary-normal);
      }
    }
  }
}
