.md-focus-ring-wrapper, .focus {
  box-shadow: 0 0 0 0.0625rem rgba(255, 255, 255, 1), 0 0 0 0.125rem rgba(17, 112, 207, 1); // IEFIX
  box-shadow: var(--md-globals-focus-ring-box-shadow);
  outline: none; // IEFIX
  outline: var(--md-globals-focus-ring-outline);
  position: relative; // Needed to apply z-index.
  z-index: 9999; // Needed to bring box-shadow to front.
}

.md-focus-ring-wrapper-disabled {
  box-shadow: none;
}
