.md-focus-ring-wrapper,
.focus {
  box-shadow: var(--md-globals-focus-ring-box-shadow);
  outline: var(--md-globals-focus-ring-outline);
  position: relative; // Needed to apply z-index.
  z-index: 9999; // Needed to bring box-shadow to front.

  &.md-focus-ring-inset {
    box-shadow: var(--md-globals-focus-ring-box-shadow-inset);
  }
}

.md-focus-ring-wrapper-disabled {
  box-shadow: none;
}
