.md-badge-wrapper {
    font-family: CiscoSansTT; // IEFIX
    font-family: var(--font-default);
    outline: none;

     /* Colorization */
    background-color:  rgba(17, 112, 207, 1); // IEFIX
    background-color: var(--theme-background-accent-normal); // Update with component token
    color:  rgba(255, 255, 255, 1); // IEFIX
    color: var(--theme-text-button-normal); // Update with component token

    /* Sizing */
    height: 0.625rem;
    width: 0.625rem;
    border-radius: 4rem;

    &[data-size="M"]{
         /* Sizing */
        height: 1.125rem;
        min-width: 1.125rem;
        width: auto;
        box-sizing: border-box;
        padding:0 0.25rem;
         /* Align */
        text-align: center;
         /* Font */
        font-size: 0.75rem;
        line-height: 1.15rem;
        font-weight: medium;
    }
}
