.md-badge-wrapper {
    font-family: CiscoSansTT; // IEFIX
    font-family: var(--font-default);
    outline: none;

    &[data-size="18"]{
        /* Colorization */
        background-color: var(--badge-background);
        color: var(--badge-text); // Update with component token

         /* Sizing */
        border-radius: 2rem;
        height: 1.125rem;
        min-width: 1.125rem;
        width: auto;
        box-sizing: border-box;
        padding:0 0.25rem;
         /* Align */
        text-align: center;
         /* Font */
        font-size: 0.75rem;
        line-height: 1.15rem;
        font-weight: medium;
    }
}
