@import 'variables';
@import 'mixins';

@include exports('momentum-ui-icons-path') {

  @font-face {
    font-family: $icon-font-name;
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?e2d40784853b58e0d51a473cd4e86ce0") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?9a8d4876c78485d627230b80b2d9347e") format("woff");
    font-weight: normal;
    font-style: normal;
  }

}
