@import 'variables';
@import 'mixins';

@include exports('momentum-ui-icons-path') {

  @font-face {
    font-family: $icon-font-name;
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?d925fe4810cc70bb26a59d305731a282") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?892ed0680b47cf37170390f9b924b7d9") format("woff");
    font-weight: normal;
    font-style: normal;
  }

}
