@import 'variables';
@import 'mixins';

@include exports('momentum-ui-icons-path') {

  @font-face {
    font-family: $icon-font-name;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?f6ffc2045ff2a178e23fa81083a8bf7d") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?4374b9fed50999be2c08a302987e8223") format("woff");
=======
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?7f874eea27d9fbb71eacdce036b6fc51") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?3d6fcda86b1d1ed691b3a37e8d6332de") format("woff");
>>>>>>> f7cfead12503b86639d3d2186b18686b21791400
=======
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?cafbf419cfa6cebd74f6b71a08c42ee1") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?ecefcb019e5b8b3641e2ed235bbef785") format("woff");
>>>>>>> a7d0fdc02f84402fad0c30369ded2493327968d5
=======
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?37c502fbc8c3bb9d9e627db6f8188eae") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?e413de5e02c4cc8c7df0a8ab9b6a13b6") format("woff");
>>>>>>> 74548aa2b9aeaedc10b89a66dcbcbc02179a6966
=======
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?3ecaa76f72561bd3912c98c0506bdc65") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?fb539bf215dca3dc4e7a97d34a38288f") format("woff");
>>>>>>> 16159506edfe80ea2d71113f4ed5656ba9dde9d7
=======
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?786e4e91d3ccb2327b070af1abfca09b") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?22f2fdfc9620c9144497635bbdbb2644") format("woff");
>>>>>>> 713c375db131f5e8a45771ce5f653ef979510d25
=======
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?f6c1eb8e6ff6366ee3566bf6ebfef436") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?85fdfeb0fb88c8b003430ec189843333") format("woff");
>>>>>>> 730d7777b6db9aa4c0287d4ddd84409cbe423b3d
=======
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?e7f6ca966e8c9b90a2bd03eb105ddbf9") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?f04b23cee5df465aaa7485b916e27ca9") format("woff");
>>>>>>> af15030043b9429fdf26b55f90290e174521fee5
    font-weight: normal;
    font-style: normal;
  }

}
