/* 100 */
@font-face {
  font-family: 'CiscoSansTT Thin';
  src: url('../../fonts/CiscoSansTTThin.woff2') format('woff2'), url('../../fonts/CiscoSansTTThin.woff') format('woff');
}

@font-face {
  font-family: 'CiscoSansTT Thin-Oblique';
  src: url('../../fonts/CiscoSansTTThinOblique.woff2') format('woff2'), url('../../fonts/CiscoSansTTThinOblique.woff') format('woff');
}

/* 200 */
@font-face {
  font-family: 'CiscoSansTT Extra-Light';
  src: url('../../fonts/CiscoSansTTExtraLight.woff2') format('woff2'), url('../../fonts/CiscoSansTTExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'CiscoSansTT Extra-Light-Oblique';
  src: url('../../fonts/CiscoSansTTExtraLightOblique.woff2') format('woff2'), url('../../fonts/CiscoSansTTExtraLightOblique.woff') format('woff');
}

/* 300 */
@font-face {
  font-family: 'CiscoSansTT Light';
  src: url('../../fonts/CiscoSansTTLight.woff2') format('woff2'), url('../../fonts/CiscoSansTTLight.woff') format('woff');
}

@font-face {
  font-family: 'CiscoSansTT Light-Oblique';
  src: url('../../fonts/CiscoSansTTLightOblique.woff2') format('woff2'), url('../../fonts/CiscoSansTTLightOblique.woff') format('woff');
}

/* 400 */
@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTTRegular.woff2') format('woff2'), url('../../fonts/CiscoSansTTRegular.woff') format('woff');
}

@font-face {
  font-family: 'CiscoSansTT Oblique';
  src: url('../../fonts/CiscoSansTTRegularOblique.woff2') format('woff2'), url('../../fonts/CiscoSansTTRegularOblique.woff') format('woff');
}

@font-face {
  font-family: 'CiscoSansTT Regular';
  src: url('../../fonts/CiscoSansTTRegular.woff2') format('woff2'), url('../../fonts/CiscoSansTTRegular.woff') format('woff');
}

@font-face {
  font-family: 'CiscoSansTT Regular-Oblique';
  src: url('../../fonts/CiscoSansTTRegularOblique.woff2') format('woff2'), url('../../fonts/CiscoSansTTRegularOblique.woff') format('woff');
}

/* 500 */
@font-face {
  font-family: 'CiscoSansTT Medium';
  src: url('../../fonts/CiscoSansTT-Medium.woff2') format('woff2'), url('../../fonts/CiscoSansTT-Medium.woff') format('woff');
}

/* 700 */
@font-face {
  font-family: 'CiscoSansTT Bold';
  src: url('../../fonts/CiscoSansTTBold.woff2') format('woff2'), url('../../fonts/CiscoSansTTBold.woff') format('woff');
}

@font-face {
  font-family: 'CiscoSansTT Bold-Oblique';
  src: url('../../fonts/CiscoSansTTBoldOblique.woff2') format('woff2'), url('../../fonts/CiscoSansTTBoldOblique.woff') format('woff');
}

/* 800 */
@font-face {
  font-family: 'CiscoSansTT Heavy';
  src: url('../../fonts/CiscoSansTTHeavy.woff2') format('woff2'), url('../../fonts/CiscoSansTTHeavy.woff') format('woff');
}

@font-face {
  font-family: 'CiscoSansTT Heavy-Oblique';
  src: url('../../fonts/CiscoSansTTHeavyOblique.woff2') format('woff2'), url('../../fonts/CiscoSansTTHeavyOblique.woff') format('woff');
}