.md-list-box-section-wrapper {
  color: var(--mds-color-theme-text-secondary-normal);
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 0.25rem 0.75rem;
}

.md-list-box-section-sub-items-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}
