.md-combo-box-wrapper {
  position: relative;
  width: var(--local-width);
  height: 2rem;
  min-height: 1.71rem;

    .md-menu-item-wrapper {
      position: static;
    }

    .md-button-pill-wrapper {
      background-color: var(--mds-color-theme-background-solid-primary-normal);
      border: 1px solid var(--mds-color-theme-outline-input-normal);
      border-radius: 0 0.5rem 0.5rem 0;
      line-height: 2rem;
      width: 2rem;
      height: 2rem;
    }

    .md-button-pill-wrapper[data-ghost=true][data-outline=false][data-inverted=false] {
      background-color: var(--mds-color-theme-background-solid-primary-normal);
    }

    .md-button-pill-wrapper[data-ghost=true][data-outline=false][data-inverted=false]:hover {
      background-color: var(--mds-color-theme-background-primary-hover);
    }

    .md-menu-section-header-wrapper {
      line-height: 2rem;
    }

    ul.md-menu-wrapper ul[role='group'] {
      margin: 0;
    } 

    ul.md-menu-wrapper ul[role='presentation']:not(:first-child) {
      margin-top: 0.5rem;
    }

    ul.md-menu-wrapper ul[role='presentation']:not(:first-child)::before {
      display: block;
      width: 100%;
      height: 0.0625rem;
      border-bottom: 0.0625rem solid var(--mds-color-theme-outline-input-normal);
      content: '';
    }

    .md-menu-item-wrapper[aria-checked='false'] > div[data-position='fill'] {
      width: calc(100% - 1.75rem);
    }
    
    .md-text-input-container {
      height: 100%;
      border-radius: 0.5rem 0 0 0.5rem;
      border-right: 0px;
    }

    .md-text-input-container > input {
      width: 100%;
      padding-right: 0.75rem;
    }

    .clear-icon {
      display: none;
      width: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
    }

  &[data-input-have-value='false'] { 
    .md-text-input-container > input {
      overflow: hidden; 
      text-overflow: ellipsis; 
      white-space: nowrap;
    }
  }

  &[data-error='true'] {
    .md-text-input-container,
    .md-button-pill-wrapper,
    .md-combo-box-divider {
      border-color: var(--mds-color-theme-text-error-normal);
    }
  }

  .md-combo-box-input-section {
    display: flex;
    height: 100%;
  }

  .md-combo-box-input {
    width: 100%;
  }

  .md-combo-box-selection-position{
    width: var(--local-width);
    z-index: 10000;
    inset: 0px auto auto 0px;
    position: fixed;
  }

  .md-combo-box-selection-container {
    width: 100%;
    max-height: 15.25rem;
    padding: 0.5rem;
    margin-top: 0.25rem;
    overflow: auto;
    background-color: var(--mds-color-theme-background-solid-primary-normal);
    border: 0.0625rem solid var(--mds-color-theme-outline-secondary-normal);
    border-radius: 0.5rem;
    box-sizing: border-box;
  }

  .md-combo-box-no-result-text {
    color: var(--mds-color-theme-text-primary-normal);
  }

  .md-combo-box-button {
    width: var(--local-height);
    height: 100%;
    min-height: 1.71rem;
    position: relative;

    .md-combo-box-arrow-icon {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  .md-combo-box-divider {
    width: 2px;
    height: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--mds-color-theme-outline-input-normal);
    background-color: var(--mds-color-theme-background-solid-primary-normal);
  }
}

.md-combo-box-label {
  margin-left: 0.75rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.01563rem;
}

.md-combo-box-description {
  font-size: 0.875rem;
  line-height: 1.375rem;
  fill: var(--mds-color-theme-text-secondary-normal);
  color: var(--mds-color-theme-text-secondary-normal);
  letter-spacing: 0.01563rem;
  font-style: normal;
  margin-left: 0.75rem;
  margin-top: 0.5rem;
}
