.md-context-menu-wrapper {
  max-width: 20rem;
  border-radius: 0.75rem;
  z-index: 9999;

  & button {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: var(--md-globals-border-clear);
    text-align: left;
    width: 100%;
    background-color: var(--mds-color-theme-button-secondary-normal);
    color: var(--mds-color-theme-text-primary-normal);

    &:hover {
      background-color: var(--mds-color-theme-button-secondary-hover);
      color: var(--mds-color-theme-text-primary-normal);
    }
  }
}
