.md-navigation-tab-wrapper {
    font-family: var(--md-globals-font-default);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    // ----- COLOR ----- //

    // Circle/Pill //
    border-radius: 6rem;
    outline: none;
    border-color: rgba(0, 0, 0, 0);
    background-color: var(--navigationtab-background);

    &:hover {
        background-color: var(--navigationtab-background-hovered); 
    }

    &:active {
        background-color: var(--navigationtab-background-active);
    }

    &[data-active=true]{
        background-color: var(--navigationtab-background-active);

        &:hover {
            background-color: var(--navigationtab-background-active); 
        }

        &:active {
            background-color: var(--navigationtab-background-active);
        }
    }

    // Icon //
    > .md-navigation-tab-icon > * {
        color: var(--navigationtab-text);

        &:hover {
            color: var(--navigationtab-text-hovered);
        }

        &:active {
            color: var(--navigationtab-text-active);
        }

        &[data-active=true]{
            background-color: var(--navigationtab-text-active);

            &:hover {
                background-color: var(--navigationtab-text-active); 
            }

            &:active {
                background-color: var(--navigationtab-text-active);
            }
        }
    }

    // Label //
    > .md-navigation-tab-label {
        color: var(--navigationtab-text);

        &:hover {
            color: var(--navigationtab-text-hovered);
        }

        &:active {
            color: var(--navigationtab-text-active);
        }

        &[data-active=true]{
            background-color: var(--navigationtab-text-active);

            &:hover {
                background-color: var(--navigationtab-text-active); 
            }

            &:active {
                background-color: var(--navigationtab-text-active);
            }
        }
    }

    // ----- SIZING & ALIGNMENT ----- //

    > .md-navigation-tab-label {
        padding-left: 1rem;
        padding-right: 2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    display: flex;
    position: relative;
    align-items: center;

    &[data-size="48"] {
        height: 3rem;
        width: 3rem;
        justify-content: center;

        > .md-navigation-tab-count {
            position: absolute;
            left: 1.4rem;
            top: 0.25rem;
        }
    }

    &[data-size="200"] {
        height: 3rem;
        width: 100%;

        > .md-navigation-tab-icon {
            padding-left: 0.2rem;
        }

        > .md-navigation-tab-count {
            position: absolute;
            right: 0.75rem;
            top: 0.75rem;
        }
    }
}
