.md-navigation-tab-wrapper {
  cursor: pointer;
  font-family: var(--md-globals-font-default);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  // ----- COLOR ----- //

  // Circle/Pill //
  border-radius: 6rem;
  outline: none !important;
  border-color: rgba(0, 0, 0, 0);
  background-color: var(--mds-color-theme-button-secondary-normal);

  > .md-navigation-tab-icon > * {
    color: var(--mds-color-theme-text-secondary-normal);
  }

  > .md-navigation-tab-label {
    color: var(--mds-color-theme-text-secondary-normal);
  }

  &:hover {
    background-color: var(--mds-color-theme-button-secondary-hover);

    > .md-navigation-tab-icon > * {
      color: var(--mds-color-theme-text-secondary-normal);
    }

    > .md-navigation-tab-label {
      color: var(--mds-color-theme-text-secondary-normal);
    }
  }

  &:active {
    background-color: var(--mds-color-theme-button-secondary-pressed);

    > .md-navigation-tab-icon > * {
      color: var(--mds-color-theme-text-primary-normal);
    }

    > .md-navigation-tab-label {
      color: var(--mds-color-theme-text-primary-normal);
    }
  }

  &[data-active='true'] {
    background-color: var(--mds-color-theme-button-secondary-pressed);

    @media (forced-colors: active) {
      background-color: SelectedItem;

      > .md-navigation-tab-icon > * {
        color: SelectedItemText;
      }

      > .md-navigation-tab-label {
        color: SelectedItemText;
      }
    }

    > .md-navigation-tab-icon > * {
      color: var(--mds-color-theme-text-primary-normal);
    }

    > .md-navigation-tab-label {
      color: var(--mds-color-theme-text-primary-normal);
    }

    &:hover {
      background-color: var(--mds-color-theme-button-secondary-pressed);

      > .md-navigation-tab-icon > * {
        color: var(--mds-color-theme-text-primary-normal);
      }

      > .md-navigation-tab-label {
        color: var(--mds-color-theme-text-primary-normal);
      }
    }

    &:active {
      background-color: var(--mds-color-theme-button-secondary-pressed);

      > .md-navigation-tab-icon > * {
        color: var(--mds-color-theme-text-primary-normal);
      }

      > .md-navigation-tab-label {
        color: var(--mds-color-theme-text-primary-normal);
      }
    }
  }

  // ----- SIZING & ALIGNMENT ----- //

  > .md-navigation-tab-label {
    padding-left: 1rem;
    padding-right: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  display: flex;
  position: relative;
  align-items: center;

  &[data-size='40'] {
    height: 2.5rem;
    width: 2.5rem;
    justify-content: center;

    > .md-navigation-tab-count {
      position: absolute;
      right: -0.375rem;
      top: 0;
    }
  }

  &[data-size='48'] {
    height: 3rem;
    width: 3rem;
    justify-content: center;

    > .md-navigation-tab-count {
      position: absolute;
      left: 1.4rem;
      top: 0.25rem;
    }
  }

  &[data-size='200'] {
    height: 2.5rem;
    width: 100%;

    > .md-navigation-tab-icon {
      padding-left: 0.2rem;
    }

    > .md-navigation-tab-count {
      position: absolute;
      right: 0.75rem;
    }
  }
}
