.md-space-list-item-is-new-activity {
  p {
    font-weight: bold !important;
  }
}

.md-space-list-item-text-wrapper {
  display: flex;
  align-items: center;

  .text-row {
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    p {
      width: auto;
    }

    small {
      margin-top: 0;
      margin-left: 0.25rem;
    }
  }

  .text-column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  div {
    display: flex;

    p {
      margin: 0;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 15rem;
    }

    small {
      margin: 0;
      color: var(--label-secondary-text);
      margin-top: -4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 15rem;
    }
  }

  svg {
    margin-right: 0.5rem;
  }
}

.md-space-list-item-dot-divider {
  display: inline;
  margin: 0 0.25rem;
}
