.md-space-list-item-wrapper {
  color: var(--listitem-textsecondary);

  &[data-size='32'] {
    // All immediate children and any deep .md-text-wrapper child
    & > *,
    .md-text-wrapper {
      font-weight: 500;
      font-size: 0.75rem;
    }
  }
}

.md-space-list-item-is-new-activity {
  p {
    font-weight: bold !important;
    color: var(--listitem-textprimary) !important;
  }
}

.md-space-list-item-text-wrapper {
  display: flex;
  align-items: center;
  min-width: 0;
  max-width: 100%;
  flex-grow: 1;

  &.text-row {
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    small {
      margin-top: 0;
      width: unset;
    }

    p {
      width: unset;
    }
  }

  &.text-column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  p {
    margin: 0;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  small {
    margin: 0;
    color: var(--listitem-textsecondary);
    margin-top: -4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  svg {
    margin-right: 0.5rem;
  }
}
