.md-button-circle-link-wrapper {
  display: flex;
  width: fit-content;
  text-decoration: none;

  // These properties are overridden because the Link component property takes precedence over the ButtonCircle property due to the location of the CSS file
  background-color: var(--mds-color-theme-button-primary-normal);
  color: var(--mds-color-theme-text-inverted-normal);

  &:hover,
  &.hover {
    background-color: var(--mds-color-theme-button-primary-hover);
    color: var(--mds-color-theme-text-inverted-normal);
  }

  &[data-size='64'] {
    font-size: 1.6rem;
    height: 4rem;
    width: 4rem;
  }

  &[data-size='52'] {
    font-size: 1.3rem;
    height: 3.25rem;
    width: 3.25rem;
  }

  &[data-size='40'] {
    height: 2.5rem;
    width: 2.5rem;
  }

  &[data-size='32'] {
    font-size: 0.8rem;
    height: 2rem;
    width: 2rem;
  }

  &[data-size='28'] {
    font-size: 0.7rem;
    height: 1.75rem;
    width: 1.75rem;
  }

  // this size is ONLY for AddReactionButton
  &[data-size='20'] {
    font-size: 0.7rem;
    height: 1.25rem;
    width: 1.25rem;
  }
}
