.md-card-status-wrapper {
  --local-background-color: transparent;

  align-self: stretch;
  flex-shrink: 0;
  margin-right: 0.25rem;
  width: 0.25rem;

  &[data-color='inactive'] {
    --local-background-color: var(--mds-color-theme-background-secondary-active);
  }

  &[data-color='success'] {
    --local-background-color: var(--mds-color-theme-button-join-normal);
  }

  &:not([data-striped='true']) {
    background-color: var(--local-background-color);
  }

  &[data-striped='true'] {
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 0.15rem,
      var(--local-background-color) 0.15rem,
      var(--local-background-color) 0.3rem
    );
  }
}
