.md-button-hyperlink-wrapper {
  background-color: rgba(0, 0, 0, 0);
  border: var(--md-globals-border-clear);
  color: var(--mds-color-theme-text-accent-normal);
  cursor: pointer;
  font-family: var(--md-globals-font-default);
  outline: none !important;
  padding: 0;
  text-decoration: underline;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  &:focus {
    color: var(--mds-color-theme-text-accent-normal);
  }

  &:hover {
    color: var(--mds-color-theme-text-accent-hover);
  }

  &:active {
    color: var(--mds-color-theme-text-accent-active);
  }

  &[data-disabled='true'] {
    color: var(--mds-color-theme-text-primary-disabled);
    cursor: auto;
  }
}
