.md-radio-simple-wrapper {
  cursor: pointer;
  display: flex;
  border-radius: 0.25rem;
  width: 6rem;
  background-color: var(--mds-color-theme-button-secondary-normal);

  &:hover {
    background-color: var(--mds-color-theme-button-secondary-hover);
  }

  &:active {
    background-color: var(--mds-color-theme-button-secondary-pressed);
  }

  &[data-selected='true'] {
    background-color: var(--mds-color-theme-button-secondary-active-normal);

    &:hover {
      background-color: var(--mds-color-theme-button-secondary-active-hover);
    }

    &:active {
      background-color: var(--mds-color-theme-button-secondary-active-pressed);
    }
  }

  &[data-focused='true'] {
    border-color: transparent;
    outline: none;
    box-shadow: var(--md-globals-focus-ring-box-shadow);
  }

  &[data-disabled='true'] {
    cursor: default;
    background-color: var(--mds-color-theme-background-primary-disabled);

    &[data-selected='true'] {
      background-color: var(--mds-color-theme-button-secondary-active-disabled);
    }
  }
}
