.md-avatar-compact-wrapper {
  background-color: var(--mds-color-theme-avatar-default);
  color: var(--mds-color-theme-common-text-primary-normal);
  border-radius: 100vh;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  width: fit-content;
}
