.md-avatar-compact-wrapper {
  background-color: var(--avatar-color-avatar-background-default);
  color: var(--avatar-color-avatar-text);
  border-radius: 100vh;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  width: fit-content;
}
