.md-menu-section-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.25rem;
}

.md-menu-section-header-wrapper {
  color: var(--label-secondary-text);
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 0.25rem 0.75rem;
}
