.md-content-separator-wrapper {
  color: var(--mds-color-theme-text-secondary-normal);
  margin: 0.25rem 0;
  display: flex;
  flex-direction: row;

  &[data-gradient='true'] {
    &:after {
      border-bottom: none;
      height: 1px;
      background: var(--mds-color-theme-gradientdivider-default-normal);
    }
  }

  &:after {
    content: '';
    flex: 1 1;
    border-bottom: 1px solid var(--mds-color-theme-outline-primary-normal);
    margin: auto;
  }
}
