.md-list-item-base-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
  color: var(--theme-text-primary-normal);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  box-sizing: border-box;

  &:hover, &.hover {
    background-color: var(--theme-background-primary-hover);
  }

  &:active, &.active {
    background-color: var(--theme-background-primary-active);
  }

  &[data-disabled="true"], &.disable {
    background-color: var(--listitem-background-disabled);
    color: var(--listitem-textprimary-disabled);

    svg {
      fill: var(--listitem-tick-disabled);
    }
  }

  & > div[data-position="start"] {
    width: fit-content;
    margin-right: 0.5rem;
  }

  & > div[data-position="fill"], *[data-position="middle"] {
    width: 100%;
  }

  & > div[data-position="end"] {
    width: auto;
    margin-left: auto;

    & > button {
      margin: 0;
    }
  }

  &[data-size="32"] {
    height: 2rem;
    font-size: 0.75rem;
  }

  &[data-size="40"] {
    height: 2.5rem;
  }

  &[data-size="50"] {
    height: 3.125rem;
  }

  &[data-shape="rectangle"] {
    padding: 0 0.75rem;
    border-radius: 0.5rem;
  }

  &[data-shape="rounded"] {
    border-radius: 100vh;

    &[data-size="32"] {
      padding: 0 0.75rem 0 0.25rem;
    }

    &[data-size="50"] {
      padding: 0 0.75rem 0 0.5rem;
    }
  }
}
