.md-code-input-wrapper {
  .md-code-input-container {
    .md-code-input-character {
      flex: auto;
      cursor: text;
      font-family: 'CiscoSansTT Regular';
      width: 2.75rem;
      height: 3rem;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border: 1px solid var(--codeinput-border);
      color: rgba(0, 0, 0, 0.95);
      color: var(--codeinput-text);
      background-color: #ffffff;
      background-color: var(--codeinput-background);
      box-sizing: border-box;
      border-radius: 0.5rem;
      font-size: 1.625rem;
      line-height: 3rem;

      &:not(:first-child) {
        margin-left: 0.5rem;
      }

      &:hover {
        border: 1px solid var(--codeinput-border-hovered);
        color: var(--codeinput-text-hovered);
        background-color: rgba(0, 0, 0, 0.04);
        background-color: var(--codeinput-background-hovered);
      }

      &:active {
        border-color: rgba(0, 0, 0, 0.9);
        border-color: var(--codeinput-border-active);
        color: rgba(0, 0, 0, 0.95);
        color: var(--codeinput-text-active);
        background-color: rgba(0, 0, 0, 0.11);
        background-color: var(--codeinput-background-active);
      }

      &--selected:empty {
        &:before {
          font-family: 'CiscoSansTT Thin';
          content: '|';
          animation: 1s blink step-end infinite;
        }

        border-color: #1170cf;
        border-color: var(--codeinput-border-focused);
        color: rgba(0, 0, 0, 0.95);
        color: var(--codeinput-text-active);
        background-color: rgba(0, 0, 0, 0.11);
        background-color: var(--codeinput-background-active);
      }
    }
  }

  @keyframes blink {
    from,
    to {
      color: transparent;
    }

    50% {
      color: rgba(0, 0, 0, 0.95);
      color: var(--codeinput-text-active);
    }
  }

  &[data-level='error'] {
    .md-code-input-container {
      .md-code-input-character {
        border-color: #ab0a15;
        border-color: var(--codeinput-error-border);
        color: rgba(0, 0, 0, 0.95);
        color: var(--codeinput-error-text);
        background-color: #ffe8ea;
        background-color: var(--codeinput-error-background);

        &:hover {
          border-color: #ab0a15;
          border-color: var(--codeinput-error-border-hovered);
          color: rgba(0, 0, 0, 0.95);
          color: var(--codeinput-error-text-hovered);
          background-color: rgba(0, 0, 0, 0.04);
          background-color: var(--codeinput-error-background-hovered);
        }

        &:active {
          border-color: #ab0a15;
          border-color: var(--codeinput-error-border-active);
          color: rgba(0, 0, 0, 0.95);
          color: var(--codeinput-error-text-active);
          background-color: rgba(0, 0, 0, 0.04);
          background-color: var(--codeinput-error-background-active);
        }
      }
    }
  }

  input:disabled ~ .md-code-input-container {
    .md-code-input-character {
      cursor: default;
      border-color: rgba(255, 255, 255, 0);
      border-color: var(--codeinput-border-disabled);
      color: rgba(0, 0, 0, 0.95);
      color: var(--codeinput-text-disabled);
      background-color: rgba(0, 0, 0, 0.11);
      background-color: var(--codeinput-background-disabled);
    }
  }
}
