.md-code-input-wrapper {
  .md-code-input-container {
    .md-code-input-character {
      flex: auto;
      cursor: text;
      font-family: 'CiscoSansTT Regular';
      width: 2.75rem;
      height: 3rem;
      border: 1px solid rgba(0, 0, 0, 0.5); // IEFIX
      border: 1px solid var(--codeinput-border-color);
      color: rgba(0, 0, 0, 0.95); // IEFIX
      color: var(--codeinput-text);
      background-color: rgba(255, 255, 255, 1); // IEFIX
      background-color: var(--codeinput-background);
      box-sizing: border-box;
      border-radius: 0.5rem;
      font-size: 1.625rem;
      line-height: 3rem;

      &:not(:first-child) {
        margin-left: 0.5rem;
      }

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.5); // IEFIX
        border: 1px solid var(--codeinput-border-color-hovered);
        color: rgba(0, 0, 0, 0.95); // IEFIX
        color: var(--codeinput-text-hovered);
        background-color: rgba(0, 0, 0, 0.04); // IEFIX
        background-color: var(--codeinput-background-hovered);
      }

      &:active {
        border-color: rgba(0, 0, 0, 0.9); // IEFIX
        border-color: var(--codeinput-border-color-active);
        color: rgba(0, 0, 0, 0.95); // IEFIX
        color: var(--codeinput-text-active);
        background-color: rgba(0, 0, 0, 0.11); // IEFIX
        background-color: var(--codeinput-background-active);
      }

      &--selected:empty {
        &:before {
          font-family: 'CiscoSansTT Thin';
          content: '|';
          animation: 1s blink step-end infinite;
        }

        border-color: rgba(17, 112, 207, 1); // IEFIX
        border-color: var(--codeinput-border-color-focused);
        color: rgba(0, 0, 0, 0.95); // IEFIX
        color: var(--codeinput-text-active);
        background-color: rgba(0, 0, 0, 0.11); // IEFIX
        background-color: var(--codeinput-background-active);
      }
    }
  }

  @keyframes blink {
    from,
    to {
      color: transparent;
    }

    50% {
      color: rgba(0, 0, 0, 0.95); // IEFIX
      color: var(--codeinput-text-active);
    }
  }

  &[data-level='error'] {
    .md-code-input-container {
      .md-code-input-character {
        border-color: rgba(171, 10, 21, 1); // IEFIX
        border-color: var(--codeinput-error-border-color);
        color: rgba(0, 0, 0, 0.95); // IEFIX
        color: var(--codeinput-error-text);
        background-color: rgba(255, 232, 234, 1); // IEFIX
        background-color: var(--codeinput-error-background);

        &:hover {
          border-color: rgba(171, 10, 21, 1); // IEFIX
          border-color: var(--codeinput-error-border-color-hovered);
          color: rgba(0, 0, 0, 0.95); // IEFIX
          color: var(--codeinput-error-text-hovered);
          background-color: rgba(0, 0, 0, 0.04); // IEFIX
          background-color: var(--codeinput-error-background-hovered);
        }

        &:active {
          border-color: rgba(171, 10, 21, 1); // IEFIX
          border-color: var(--codeinput-error-border-color-active);
          color: rgba(0, 0, 0, 0.95); // IEFIX
          color: var(--codeinput-error-text-active);
          background-color: rgba(0, 0, 0, 0.04); // IEFIX
          background-color: var(--codeinput-error-background-active);
        }
      }
    }
  }

  input:disabled ~ .md-code-input-container {
    .md-code-input-character {
      cursor: default;
      border-color: rgba(255, 255, 255, 0); // IEFIX
      border-color: var(--codeinput-border-color-disabled);
      color: rgba(0, 0, 0, 0.95); // IEFIX
      color: var(--codeinput-text-disabled);
      background-color: rgba(0, 0, 0, 0.11); // IEFIX
      background-color: var(--codeinput-background-disabled);
    }
  }

  .code-input-message {
    margin-top: 0.5rem;
  }
}
