.md-toast-wrapper {
  background-color: var(--mds-color-theme-background-solid-primary-normal);
  border: 0.0625rem solid var(--mds-color-theme-outline-secondary-normal);
  margin: 0.5rem;
  width: 25rem;
  flex-grow: 0;

  > .md-toast-header {
    align-items: center;
    display: flex;
    height: 2rem;
    width: 100%;

    > .md-toast-title {
      flex-grow: 1;
      margin-left: 0.75rem;
    }

    > .md-toast-controls {
      display: flex;
      flex-direction: row-reverse;
      flex-shrink: 0;
      height: 2rem;
    }
  }
}
