.md-alert-badge-wrapper {
  align-items: center;
  border: 0rem solid rgba(0, 0, 0, 0); // IEFIX
  border: var(--md-globals-border-clear);
  display: flex;
  background-color: rgba(237, 237, 237, 1); // IEFIX
  background-color: var(--theme-background-alert-default-normal);
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.6); // IEFIX
  color: var(--theme-text-secondary-normal);
  cursor: pointer;
  font-size: 0.875rem;
  height: 1.5rem;
  margin: 0.125rem;
  outline: none !important;
  padding: 0 0.5rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  width: fit-content;

  &:hover {
    color: rgba(0, 0, 0, 0.95); // IEFIX
    color: var(--theme-text-primary-normal);
  }

  &:active {
    color: rgba(0, 0, 0, 0.95); // IEFIX
    color: var(--theme-text-primary-normal);
    background-color: rgba(222, 222, 222, 1); // IEFIX
    background-color: var(--theme-background-alert-default-active);
  }

  &[data-color='theme'] {
    color: rgba(3, 83, 168, 1); // IEFIX
    color: var(--theme-text-accent-normal);
    background-color: rgba(219, 240, 255, 1); // IEFIX
    background-color: var(--theme-background-alert-theme-normal);

    &:hover {
      color: rgba(10, 39, 74, 1); // IEFIX
      color: var(--theme-text-accent-hover);
    }

    &:active {
      color: rgba(10, 39, 74, 1); // IEFIX
      color: var(--theme-text-accent-active);
      background-color: rgba(191, 227, 255, 1); // IEFIX
      background-color: var(--theme-background-alert-theme-active);
    }
  }

  &[data-color='success'] {
    color: rgba(24, 94, 70, 1); // IEFIX
    color: var(--theme-text-success-normal);
    background-color: rgba(206, 245, 235, 1); // IEFIX
    background-color: var(--theme-background-alert-success-normal);

    &:hover {
      color: rgba(14, 43, 32, 1); // IEFIX
      color: var(--theme-text-success-hover);
    }

    &:active {
      color: rgba(14, 43, 32, 1); // IEFIX
      color: var(--theme-text-success-active);
      background-color: rgba(159, 237, 216, 1); // IEFIX
      background-color: var(--theme-background-alert-success-active);
    }
  }

  &[data-color='warning'] {
    color: rgba(125, 71, 5, 1); // IEFIX
    color: var(--theme-text-warning-normal);
    background-color: rgba(255, 235, 194, 1); // IEFIX
    background-color: var(--theme-background-alert-warning-normal);

    &:hover {
      color: rgba(54, 34, 12, 1); // IEFIX
      color: var(--theme-text-warning-hover);
    }

    &:active {
      color: rgba(54, 34, 12, 1); // IEFIX
      color: var(--theme-text-warning-active);
      background-color: rgba(255, 218, 148, 1); // IEFIX
      background-color: var(--theme-background-alert-warning-active);
    }
  }

  &[data-color='error'] {
    color: rgba(171, 10, 21, 1); // IEFIX
    color: var(--theme-text-error-normal);
    background-color: rgba(255, 232, 234, 1); // IEFIX
    background-color: var(--theme-background-alert-error-normal);

    &:hover {
      color: rgba(79, 14, 16, 1); // IEFIX
      color: var(--theme-text-error-hover);
    }

    &:active {
      color: rgba(79, 14, 16, 1); // IEFIX
      color: var(--theme-text-error-active);
      background-color: rgba(255, 212, 218, 1); // IEFIX
      background-color: var(--theme-background-alert-error-active);
    }
  }

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}
