.md-alert-badge-wrapper {
  align-items: center;
  border: var(--md-globals-border-clear);
  display: flex;
  background-color: var(--mds-color-theme-background-alert-default-normal);
  border-radius: 0.25rem;
  color: var(--mds-color-theme-text-secondary-normal);
  cursor: pointer;
  font-size: 0.875rem;
  height: 1.5rem;
  margin: 0.125rem;
  outline: none !important;
  padding: 0 0.5rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  width: fit-content;

  &:hover {
    color: var(--mds-color-theme-text-primary-normal);
  }

  &:active {
    color: var(--mds-color-theme-text-primary-normal);
    background-color: var(--mds-color-theme-background-alert-default-active);
  }

  &[data-color='theme'] {
    color: var(--mds-color-theme-text-accent-normal);
    background-color: var(--mds-color-theme-background-alert-theme-normal);

    &:hover {
      color: var(--mds-color-theme-text-accent-hover);
    }

    &:active {
      color: var(--mds-color-theme-text-accent-active);
      background-color: var(--mds-color-theme-background-alert-theme-active);
    }
  }

  &[data-color='success'] {
    color: var(--mds-color-theme-text-success-normal);
    background-color: var(--mds-color-theme-background-alert-success-normal);

    &:hover {
      color: var(--mds-color-theme-text-success-hover);
    }

    &:active {
      color: var(--mds-color-theme-text-success-active);
      background-color: var(--mds-color-theme-background-alert-success-active);
    }
  }

  &[data-color='warning'] {
    color: var(--mds-color-theme-text-warning-normal);
    background-color: var(--mds-color-theme-background-alert-warning-normal);

    &:hover {
      color: var(--mds-color-theme-text-warning-hover);
    }

    &:active {
      color: var(--mds-color-theme-text-warning-active);
      background-color: var(--mds-color-theme-background-alert-warning-active);
    }
  }

  &[data-color='error'] {
    color: var(--mds-color-theme-text-error-normal);
    background-color: var(--mds-color-theme-background-alert-error-normal);

    &:hover {
      color: var(--mds-color-theme-text-error-hover);
    }

    &:active {
      color: var(--mds-color-theme-text-error-active);
      background-color: var(--mds-color-theme-background-alert-error-active);
    }
  }

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}
