.md-alert-banner-wrapper {
  display: flex;
  border-radius: 0.5rem;
  margin: 0.5rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  width: 25rem;

  &[data-color="default"] {
    background-color: rgba(237, 237, 237, 1); // IEFIX
    background-color: var(--theme-background-alert-default-normal);
    color: rgba(0, 0, 0, 0.6); // IEFIX
    color: var(--theme-text-secondary-normal);

    > .md-alert-banner-buttons > * {
      background-color: rgba(237, 237, 237, 1); // IEFIX
      background-color: var(--theme-background-alert-default-normal);
      color: rgba(0, 0, 0, 0.6); // IEFIX
      color: var(--theme-text-secondary-normal);

      &:hover {
        color: rgba(0, 0, 0, 0.95); // IEFIX
        color: var(--theme-text-primary-normal);
      }
    
      &:active {
        color: rgba(0, 0, 0, 0.95); // IEFIX
        color: var(--theme-text-primary-normal);
        background-color: rgba(222, 222, 222, 1); // IEFIX
        background-color: var(--theme-background-alert-default-active);
      }
    }
  }

  &[data-color="error"] {
    background-color: rgba(255, 232, 234, 1); // IEFIX
    background-color: var(--theme-background-alert-error-normal);
    color: rgba(171, 10, 21, 1); // IEFIX
    color: var(--theme-text-error-normal);

    > .md-alert-banner-buttons > * {
      color: rgba(171, 10, 21, 1); // IEFIX
      color: var(--theme-text-error-normal);
      background-color: rgba(255, 232, 234, 1); // IEFIX
      background-color: var(--theme-background-alert-error-normal);
  
      &:hover {
        color: rgba(79, 14, 16, 1); // IEFIX
        color: var(--theme-text-error-hover);
      }
  
      &:active {
        color: rgba(79, 14, 16, 1); // IEFIX
        color: var(--theme-text-error-active);
        background-color: rgba(255, 212, 218, 1); // IEFIX
        background-color: var(--theme-background-alert-error-active);
      }
    }
  }

  &[data-color="success"] {
    background-color: rgba(206, 245, 235, 1); // IEFIX
    background-color: var(--theme-background-alert-success-normal);
    color: rgba(24, 94, 70, 1); // IEFIX
    color: var(--theme-text-success-normal);

    > .md-alert-banner-buttons > * {
      color: rgba(24, 94, 70, 1); // IEFIX
      color: var(--theme-text-success-normal);
      background-color: rgba(206, 245, 235, 1); // IEFIX
      background-color: var(--theme-background-alert-success-normal);
  
      &:hover {
        color: rgba(14, 43, 32, 1); // IEFIX
        color: var(--theme-text-success-hover);
      }
  
      &:active {
        color: rgba(14, 43, 32, 1); // IEFIX
        color: var(--theme-text-success-active);
        background-color: rgba(159, 237, 216, 1); // IEFIX
        background-color: var(--theme-background-alert-success-active);
      }
    }
  }

  &[data-color="theme"] {
    background-color: rgba(219, 240, 255, 1); // IEFIX
    background-color: var(--theme-background-alert-theme-normal);
    color: rgba(3, 83, 168, 1); // IEFIX
    color: var(--theme-text-accent-normal);

    > .md-alert-banner-buttons > * {
      color: rgba(3, 83, 168, 1); // IEFIX
      color: var(--theme-text-accent-normal);
      background-color: rgba(219, 240, 255, 1); // IEFIX
      background-color: var(--theme-background-alert-theme-normal);
  
      &:hover {
        color: rgba(10, 39, 74, 1); // IEFIX
        color: var(--theme-text-accent-hover);
      }
  
      &:active {
        color: rgba(10, 39, 74, 1); // IEFIX
        color: var(--theme-text-accent-active);
        background-color: rgba(191, 227, 255, 1); // IEFIX
        background-color: var(--theme-background-alert-theme-active);
      }
    }
  }

  &[data-color="warning"] {
    background-color: rgba(255, 235, 194, 1); // IEFIX
    background-color: var(--theme-background-alert-warning-normal);
    color: rgba(125, 71, 5, 1); // IEFIX
    color: var(--theme-text-warning-normal);

    > .md-alert-banner-buttons > * {
      color: rgba(125, 71, 5, 1); // IEFIX
      color: var(--theme-text-warning-normal);
      background-color: rgba(255, 235, 194, 1); // IEFIX
      background-color: var(--theme-background-alert-warning-normal);
  
      &:hover {
        color: rgba(54, 34, 12, 1); // IEFIX
        color: var(--theme-text-warning-hover);
      }
  
      &:active {
        color: rgba(54, 34, 12, 1); // IEFIX
        color: var(--theme-text-warning-active);
        background-color: rgba(255, 218, 148, 1); // IEFIX
        background-color: var(--theme-background-alert-warning-active);
      }
    }
  }

  &[data-size="small"] {
    font-size: 0.875rem;
    height: fit-content;
    min-height: 1.25rem;
  }

  &[data-size="default"] {
    font-size: 1rem;
    height: fit-content;
    min-height: 1.375rem;
  }

  &[data-grow="true"] {
    width: 100%;
  }

  &[data-pill="true"] {
    border-radius: 100vh;

    > .md-alert-banner-image {
      align-self: center;
    }

    > .md-alert-banner-buttons {
      > .md-alert-banner-button:last-child {
        border-radius: 0 100vh 100vh 0;
      }
    }
  }

  > .md-alert-banner-image {
    align-self: flex-start;
    flex-shrink: 0;
    margin: 0.625rem 0.75rem;
  }

  > .md-alert-banner-label {
    flex-grow: 1;
    flex-wrap: wrap;
    height: fit-content;
    line-height: 1.25rem;
    margin: 0.5rem 1rem 0.5rem 0rem;
    white-space: pre-wrap;
  }

  > .md-alert-banner-buttons {
    align-items: center;
    align-self: stretch;
    display: flex;

    > .md-alert-banner-button {
      border-radius: 0;
      height: 100%;
      margin: 0;
    }

    > .md-alert-banner-button:last-child {
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }

  &[data-centered="true"] {
    justify-content: center;

    > .md-alert-banner-image {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }

    > .md-alert-banner-label {
      flex-grow: 0;
      flex-wrap: nowrap;
      align-self: center;
    }

    > .md-alert-banner-buttons {
      flex-basis: 0;
      flex-grow: 1;
      justify-content: flex-end;
    }
  }
}
