.md-radio-group {
  > .md-radio-wrapper {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 1rem;

    > .md-radio-selected,
    .md-radio-not-selected {
      height: 1rem;
      width: 1rem;
      border-radius: 0.5rem;
      outline: none !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }

    &[data-disabled='false'] {
      .md-radio-icon {
        svg {
          fill: var(--radio-checked-icon);
        }
      }

      > .md-radio-label {
        color: var(--radio-unchecked-text);
      }

      > .md-radio-selected {
        background-color: var(--radio-checked-background);
      }

      > .md-radio-not-selected {
        background-color: var(--radio-unchecked-background);
        border-style: solid;
        border-color: var(--radio-unchecked-border-color);
        border-width: 0.0625rem;
      }

      &:hover,
      &.hover {
        color: var(--radio-checked-text-hovered);

        > .md-radio-selected {
          background-color: var(--radio-checked-background-hovered);
        }

        > .md-radio-not-selected {
          background-color: var(--radio-unchecked-background-hovered);
        }
      }

      &:active,
      &.active {
        color: var(--radio-unchecked-text-pressed);

        > .md-radio-selected {
          background-color: var(--radio-checked-background-pressed);
        }

        > .md-radio-not-selected {
          background-color: var(--radio-unchecked-background-pressed);
        }
      }

      .md-radio-focus {
        box-shadow: var(--md-globals-focus-ring-box-shadow-accent);
      }

      &.focus {
        .radio {
          box-shadow: var(--md-globals-focus-ring-box-shadow-accent);
        }
      }
    }

    &[data-disabled='true'],
    &.disable {
      .md-radio-icon {
        svg {
          fill: var(--radio-checked-icon-disabled);
        }
      }

      color: var(--radio-unchecked-text-disabled);

      > .md-radio-selected {
        background-color: var(--radio-checked-background-disabled);
        border-style: none;
      }

      > .md-radio-not-selected {
        background-color: var(--radio-unchecked-background-disabled);
        border-style: none;
      }
    }
  }
}
