.md-text-toast-wrapper {
  display: flex;
  padding: 0.5rem 0.75rem;
  width: 20rem;
  border: 0.0625rem solid var(--textToast-border-color);
  border-radius: 0.5rem;
  background-color: var(--textToast-background);
  box-shadow: var(--md-globals-elevation-2);
  align-items: center;

  > .md-icon-wrapper {
    margin-right: 12px;
  }
}

.md-text-toast-text {
  color: var(--textToast-text);
}
