.md-text-toast-wrapper {
  display: flex;
  padding: 0.5rem 0.75rem;
  width: 20rem;
  border: 0.0625rem solid var(--textToast-border-color);
  border-radius: 0.5rem;
  background-color: var(--textToast-background);
  box-shadow: var(--md-globals-elevation-2);
  align-items: center;
  box-sizing: content-box !important;

  &[data-text-alignment='center'] {
    justify-content: center;
    text-align: center;
  }

  &[data-text-alignment='left'] {
    justify-content: flex-start;
    text-align: left;
  }

  > .md-icon-wrapper {
    margin-right: 0.3125rem;
  }
}

.md-text-toast-text {
  color: var(--textToast-text);
}
