.md-menu-list-background-wrapper {
  margin: 0;
  list-style: none;
  padding: 0.5rem;
  border-radius: 0.75rem;
  box-sizing: border-box;
  box-shadow: var(--md-globals-elevation-4);
  outline: none;
  max-height: 30rem;
  overflow-y: auto;

  &[data-color='primary'] {
    background: var(--mds-color-theme-background-solid-primary-normal);
    border: 1px solid var(--mds-color-theme-outline-secondary-normal);
  }

  &[data-color='secondary'] {
    background: var(--mds-color-theme-background-solid-secondary-normal);
    border: 1px solid var(--mds-color-theme-outline-secondary-normal);
  }

  &[data-color='tertiary'] {
    background: var(--mds-color-theme-background-solid-tertiary-normal);
    border: 1px solid var(--mds-color-theme-outline-secondary-normal);
  }
}
