.md-menu-list-background-wrapper {
  margin: 0;
  list-style: none;
  background: var(--menulistbackground-primary-background);
  padding: 0.5rem;
  border-radius: 0.75rem;
  box-sizing: border-box;
  border: 1px solid var(--menulistbackground-primary-border);
  box-shadow: var(--elevation-4);

  &:focus {
    box-shadow: var(--focus-ring-box-shadow);
    outline: var(--focus-ring-outline);
  }
}
