.md-reaction-wrapper {
  height: 100%;
  display: flex;

  &[data-size='12'] {
    width: 0.75rem;
  }

  &[data-size='16'] {
    width: 1rem;
  }
}

.md-reaction-not-found {
  height: 100%;
  align-items: center;
  display: flex;
}
