.md-reaction-wrapper,
.md-reaction-not-found {
  display: flex;

  &[data-size='12'] {
    width: 0.75rem;
  }

  &[data-size='16'] {
    width: 1rem;
  }

  &[data-size='160'] {
    width: 10rem;
  }

  &[data-size='320'] {
    width: 20rem;
  }

  &[data-size='auto'] {
    width: auto;
  }
}
