.md-reaction-wrapper {
  &:not(.md-reaction-loaded) mdc-animation {
    display: none;
  }

  align-items: center;
  display: flex;
  height: fit-content;
  justify-content: center;
  width: fit-content;
}
