.md-button-pill-toggle-wrapper {
  &[data-selected='true'] {
    &[data-outline='true'],
    &[data-ghost='true'] {
      background-color: var(--mds-color-theme-button-secondary-active-normal);
      color: var(--mds-color-theme-text-primary-normal);

      &:hover,
      &.hover {
        background-color: var(--mds-color-theme-button-secondary-active-hover);
        color: var(--mds-color-theme-text-primary-normal);
      }

      &:active,
      &.active {
        background-color: var(--mds-color-theme-button-secondary-active-pressed);
        color: var(--mds-color-theme-text-primary-normal);
      }

      &[data-disabled='true'],
      &.disable {
        background-color: var(--mds-color-theme-button-secondary-active-normal);
        color: var(--mds-color-theme-text-primary-disabled);
      }
    }

    &[data-outline='true'] {
      border-color: var(--mds-color-theme-outline-button-normal);

      &:hover,
      &.hover {
        border-color: var(--mds-color-theme-outline-button-normal);
      }

      &:active,
      &.active {
        border-color: var(--mds-color-theme-outline-button-normal);
      }

      &[data-disabled='true'],
      &.disable {
        border-color: var(--mds-color-theme-outline-disabled-normal);
      }
    }
  }
}
