.md-button-pill-wrapper {
  border: 0rem solid rgba(0, 0, 0, 0); // IEFIX
  border: var(--md-globals-border-clear);
  border-width: 0.0625rem;
  cursor: pointer;
  font-family: CiscoSansTT; // IEFIX
  font-family: var(--md-globals-font-default);
  outline: none !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  /* Colorization */
  background-color: rgba(0, 0, 0, 0.95); // IEFIX
  background-color: var(--button-primary-background);
  color: rgba(255, 255, 255, 0.95); // IEFIX
  color: var(--button-primary-text);

  &:hover {
    background-color: rgba(0, 0, 0, 0.8); // IEFIX
    background-color: var(--button-primary-background-hovered);
    color: rgba(255, 255, 255, 0.95); // IEFIX
    color: var(--button-primary-text-hovered);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.7); // IEFIX
    background-color: var(--button-primary-background-pressed);
    color: rgba(255, 255, 255, 0.95); // IEFIX
    color: var(--button-primary-text-pressed);
  }

  &[data-outline='true'] {
    background-color: var(--videoSupport-controls-button-background);
    border-color: var(--videoSupport-controls-button-border-color);
    color: var(--videoSupport-controls-button-text);

    &:hover {
      background-color: rgba(0, 0, 0, 0.07); // IEFIX
      background-color: var(--button-secondary-background-hovered);
      border-color: rgba(0, 0, 0, 0.3); // IEFIX
      border-color: var(--button-secondary-border-color-hovered);
      color: rgba(0, 0, 0, 0.95); // IEFIX
      color: var(--button-secondary-text-hovered);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.2); // IEFIX
      background-color: var(--button-secondary-background-pressed);
      border-color: rgba(0, 0, 0, 0.3); // IEFIX
      border-color: var(--button-secondary-border-color-pressed);
      color: rgba(0, 0, 0, 0.95); // IEFIX
      color: var(--button-secondary-text-pressed);
    }

    &[data-solid='true'] {
      background-color: var(--videoSupport-controls-button-background);
      border-color: var(--videoSupport-controls-button-border-color);
      color: var(--videoSupport-controls-button-text);

      &:hover {
        background-color: var(--videoSupport-controls-button-background-hovered);
        border-color: var(--videoSupport-controls-button-border-color-hovered);
        color: var(--videoSupport-controls-button-text-hovered);
      }

      &:active {
        background-color: var(--videoSupport-controls-button-background-pressed);
        border-color: var(--videoSupport-controls-button-border-color-pressed);
        color: var(--videoSupport-controls-button-text-pressed);
      }
    }
  }

  &[data-color='join'] {
    background-color: rgba(29, 128, 95, 1); // IEFIX
    background-color: var(--button-join-fill-background);
    color: rgba(255, 255, 255, 0.95); // IEFIX
    color: var(--button-join-fill-text);

    &:hover {
      background-color: rgba(24, 94, 70, 1); // IEFIX
      background-color: var(--button-join-fill-background-hovered);
      color: rgba(255, 255, 255, 0.95); // IEFIX
      color: var(--button-join-fill-text-hovered);
    }

    &:active {
      background-color: rgba(19, 66, 49, 1); // IEFIX
      background-color: var(--button-join-fill-background-pressed);
      color: rgba(255, 255, 255, 0.95); // IEFIX
      color: var(--button-join-fill-text-pressed);
    }

    &[data-outline='true'] {
      background-color: rgba(0, 0, 0, 0); // IEFIX
      background-color: var(--button-join-outline-background);
      border-color: rgba(24, 94, 70, 1); // IEFIX
      border-color: var(--button-join-outline-border-color);
      color: rgba(24, 94, 70, 1); // IEFIX
      color: var(--button-join-outline-text);

      &:hover {
        background-color: rgba(24, 94, 70, 1); // IEFIX
        background-color: var(--button-join-outline-background-hovered);
        border-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0.95); // IEFIX
        color: var(--button-join-outline-text-hovered);
      }

      &:active {
        background-color: rgba(19, 66, 49, 1); // IEFIX
        background-color: var(--button-join-outline-background-pressed);
        border-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0.95); // IEFIX
        color: var(--button-join-outline-text-pressed);
      }

      &[data-disabled='true'] {
        background-color: rgba(0, 0, 0, 0); // IEFIX
        background-color: var(--button-secondary-background-disabled);
        border-color: rgba(0, 0, 0, 0.2); // IEFIX
        border-color: var(--button-secondary-border-color-disabled);
        color: rgba(0, 0, 0, 0.4); // IEFIX
        color: var(--button-secondary-text-disabled);
      }
    }
  }

  &[data-color='cancel'] {
    background-color: rgba(219, 31, 46, 1); // IEFIX
    background-color: var(--button-cancel-fill-background);
    color: rgba(255, 255, 255, 0.95); // IEFIX
    color: var(--button-cancel-fill-text);

    &:hover {
      background-color: rgba(171, 10, 21, 1); // IEFIX
      background-color: var(--button-cancel-fill-background-hovered);
      color: rgba(255, 255, 255, 0.95); // IEFIX
      color: var(--button-cancel-fill-text-hovered);
    }

    &:active {
      background-color: rgba(120, 13, 19, 1); // IEFIX
      background-color: var(--button-cancel-fill-background-pressed);
      color: rgba(255, 255, 255, 0.95); // IEFIX
      color: var(--button-cancel-fill-text-pressed);
    }

    &[data-outline='true'] {
      background-color: rgba(0, 0, 0, 0); // IEFIX
      background-color: var(--button-cancel-outline-background);
      border-color: rgba(171, 10, 21, 1); // IEFIX
      border-color: var(--button-cancel-outline-border-color);
      color: rgba(171, 10, 21, 1); // IEFIX
      color: var(--button-cancel-outline-text);

      &:hover {
        background-color: rgba(171, 10, 21, 1); // IEFIX
        background-color: var(--button-cancel-outline-background-hovered);
        border-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0.95); // IEFIX
        color: var(--button-cancel-outline-text-hovered);
      }

      &:active {
        background-color: rgba(120, 13, 19, 1); // IEFIX
        background-color: var(--button-cancel-outline-background-pressed);
        border-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0.95); // IEFIX
        color: var(--button-cancel-outline-text-pressed);
      }
    }
  }

  &[data-color='message'] {
    background-color: rgba(17, 112, 207, 1); // IEFIX
    background-color: var(--button-message-fill-background);
    color: rgba(255, 255, 255, 0.95); // IEFIX
    color: var(--button-message-fill-text);

    &:hover {
      background-color: rgba(3, 83, 168, 1); // IEFIX
      background-color: var(--button-message-fill-background-hovered);
      color: rgba(255, 255, 255, 0.95); // IEFIX
      color: var(--button-message-fill-text-hovered);
    }

    &:active {
      background-color: rgba(6, 58, 117, 1); // IEFIX
      background-color: var(--button-message-fill-background-pressed);
      color: rgba(255, 255, 255, 0.95); // IEFIX
      color: var(--button-message-fill-text-pressed);
    }

    &[data-outline='true'] {
      border-color: rgba(0, 0, 0, 0);
    }
  }

  &[data-ghost='true'] {
    background-color: rgba(0, 0, 0, 0); // IEFIX
    background-color: var(--button-ghost-background);
    border-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.95); // IEFIX
    color: var(--button-ghost-text);

    &:hover {
      background-color: rgba(0, 0, 0, 0.07); // IEFIX
      background-color: var(--button-ghost-background-hovered);
      color: rgba(0, 0, 0, 0.95); // IEFIX
      color: var(--button-ghost-text-hovered);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.2); // IEFIX
      background-color: var(--button-secondary-background-pressed);
      color: rgba(0, 0, 0, 0.95); // IEFIX
      color: var(--button-secondary-text-pressed);
    }

    &[data-color='cancel'][data-disabled='false'] {
      color: rgba(171, 10, 21, 1); // IEFIX
      color: var(--button-cancel-ghost-text);

      &:hover {
        color: rgba(171, 10, 21, 1); // IEFIX
        color: var(--button-cancel-ghost-text-hovered);
      }

      &:active {
        color: rgba(171, 10, 21, 1); // IEFIX
        color: var(--button-cancel-ghost-text-pressed);
      }
    }

    &[data-color='message'][data-disabled='false'] {
      color: rgba(3, 83, 168, 1); // IEFIX
      color: var(--button-message-ghost-text);

      &:hover {
        color: rgba(3, 83, 168, 1); // IEFIX
        color: var(--button-message-ghost-text-hovered);
      }

      &:active {
        color: rgba(3, 83, 168, 1); // IEFIX
        color: var(--button-message-ghost-text-pressed);
      }
    }

    &[data-outline='true'] {
      background-color: rgba(0, 0, 0, 0); // IEFIX
      background-color: var(--button-ghost-background);
      border-color: rgba(0, 0, 0, 0.3); // IEFIX
      border-color: var(--button-secondary-border-color);
      color: rgba(0, 0, 0, 0.95); // IEFIX
      color: var(--button-ghost-text);

      &:hover {
        background-color: rgba(0, 0, 0, 0.07); // IEFIX
        background-color: var(--button-ghost-background-hovered);
        color: rgba(0, 0, 0, 0.95); // IEFIX
        color: var(--button-ghost-text-hovered);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.2); // IEFIX
        background-color: var(--button-secondary-background-pressed);
        color: rgba(0, 0, 0, 0.95); // IEFIX
        color: var(--button-secondary-text-pressed);
      }
    }
  }

  &[data-disabled='true'] {
    background-color: rgba(0, 0, 0, 0.2); // IEFIX
    background-color: var(--button-primary-background-disabled);
    color: rgba(0, 0, 0, 0.4); // IEFIX
    color: var(--button-primary-text-disabled);
    cursor: auto;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2); // IEFIX
      background-color: var(--button-primary-background-disabled);
      color: rgba(0, 0, 0, 0.4); // IEFIX
      color: var(--button-primary-text-disabled);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.2); // IEFIX
      background-color: var(--button-primary-background-disabled);
      color: rgba(0, 0, 0, 0.4); // IEFIX
      color: var(--button-primary-text-disabled);
    }

    &[data-outline='true'] {
      background-color: rgba(0, 0, 0, 0); // IEFIX
      background-color: var(--button-secondary-background-disabled);
      border-color: rgba(0, 0, 0, 0.2); // IEFIX
      border-color: var(--button-secondary-border-color-disabled);
      color: rgba(0, 0, 0, 0.4); // IEFIX
      color: var(--button-secondary-text-disabled);
      cursor: auto;

      &:hover {
        background-color: rgba(0, 0, 0, 0); // IEFIX
        background-color: var(--button-secondary-background-disabled);
        border-color: rgba(0, 0, 0, 0.2); // IEFIX
        border-color: var(--button-secondary-border-color-disabled);
        color: rgba(0, 0, 0, 0.4); // IEFIX
        color: var(--button-secondary-text-disabled);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0); // IEFIX
        background-color: var(--button-secondary-background-disabled);
        border-color: rgba(0, 0, 0, 0.2); // IEFIX
        border-color: var(--button-secondary-border-color-disabled);
        color: rgba(0, 0, 0, 0.4); // IEFIX
        color: var(--button-secondary-text-disabled);
      }

      &[data-solid='true'] {
        background-color: var(--videoSupport-controls-button-background-disabled);
        border-color: var(--videoSupport-controls-button-border-color-disabled);
        color: var(--videoSupport-controls-button-text-disabled);

        &:hover {
          background-color: var(--videoSupport-controls-button-background-disabled);
          border-color: var(--videoSupport-controls-button-border-color-disabled);
          color: var(--videoSupport-controls-button-text-disabled);
        }

        &:active {
          background-color: var(--videoSupport-controls-button-background-disabled);
          border-color: var(--videoSupport-controls-button-border-color-disabled);
          color: var(--videoSupport-controls-button-text-disabled);
        }
      }
    }
  }

  /* Sizing and spacing. */
  align-items: center;
  border-radius: 100vh;
  display: flex;
  flex-shrink: 0;
  min-width: 1em;

  &[data-grown='true'] {
    width: 100%;
    justify-content: center;
  }

  &[data-size='40'] {
    font-size: 1rem;
    height: 2.5rem;
    padding: 0 1rem;
    line-height: 2.5rem;
  }

  &[data-size='32'] {
    font-size: 1rem;
    height: 2rem;
    padding: 0 0.75rem;
    line-height: 2rem;
  }

  &[data-size='28'] {
    font-size: 0.75rem;
    height: 1.75rem;
    padding: 0 0.625rem;
    line-height: 1.75rem;
  }

  &[data-size='24'] {
    font-size: 0.75rem;
    height: 1.5rem;
    padding: 0 0.625rem;
    line-height: 1.5rem;
  }

  &[data-size='20'] {
    font-size: 0.75rem;
    height: 1.25rem;
    line-height: 1.125rem;
    padding: 0 0.5rem;
  }

  > *:not(:first-child) {
    margin-left: 0.5em;
  }
}

[data-compressed='true'][data-spaced='true'] {
  > .md-button-pill-wrapper {
    padding: 0 1rem;
  }
}
