.md-button-pill-wrapper {
  border: var(--md-globals-border-clear);
  border-width: 0.0625rem;
  cursor: pointer;
  font-family: var(--md-globals-font-default);
  outline: none !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  /* Colorization */

  // PRIMARY
  background-color: var(--mds-color-theme-button-primary-normal);
  color: var(--mds-color-theme-text-inverted-normal);

  &:hover,
  &.hover {
    background-color: var(--mds-color-theme-button-primary-hover);
    color: var(--mds-color-theme-text-inverted-normal);
  }

  &:active,
  &.active {
    background-color: var(--mds-color-theme-button-primary-pressed);
    color: var(--mds-color-theme-text-inverted-normal);
  }

  &[data-shallow-disabled='true'],
  &[data-disabled='true'],
  &.disable {
    background-color: var(--mds-color-theme-button-primary-disabled);
    color: var(--mds-color-theme-text-primary-disabled);
    cursor: auto;
  }

  // PRIMARY GHOST
  &[data-ghost='true'][data-solid='false'] {
    background-color: var(--mds-color-theme-button-secondary-normal);
    color: var(--mds-color-theme-text-primary-normal);

    &:hover,
    &.hover {
      background-color: var(--mds-color-theme-button-secondary-hover);
      color: var(--mds-color-theme-text-primary-normal);
    }

    &:active,
    &.active {
      background-color: var(--mds-color-theme-button-secondary-pressed);
      color: var(--mds-color-theme-text-primary-normal);
    }

    &[data-disabled='true'],
    &.disable,
    &[data-shallow-disabled='true'] {
      background-color: var(--mds-color-theme-button-secondary-normal);
      color: var(--mds-color-theme-text-primary-disabled);
      cursor: auto;
    }

    // PRIMARY OUTLINE GHOST
    &[data-outline='true'] {
      border-color: var(--mds-color-theme-outline-button-normal);

      &:hover,
      &.hover {
        border-color: var(--mds-color-theme-outline-button-normal);
      }

      &:active,
      &.active {
        border-color: var(--mds-color-theme-outline-button-normal);
      }

      &[data-disabled='true'],
      &.disable,
      &[data-shallow-disabled='true'] {
        border-color: var(--mds-color-theme-outline-disabled-normal);
        cursor: auto;
      }
    }
  }

  // PRIMARY OUTLINE SOLID N0T-GHOST
  &[data-ghost='false'],
  &[data-solid='true'] {
    &[data-outline='true'] {
      background-color: var(--mds-color-theme-button-inverted-normal);
      border-color: var(--mds-color-theme-outline-button-normal);
      color: var(--mds-color-theme-text-primary-normal);

      &:hover,
      &.hover {
        background-color: var(--mds-color-theme-button-inverted-hover);
        border-color: var(--mds-color-theme-outline-button-normal);
        color: var(--mds-color-theme-text-primary-normal);
      }

      &:active,
      &.active {
        background-color: var(--mds-color-theme-button-inverted-pressed);
        border-color: var(--mds-color-theme-outline-button-normal);
        color: var(--mds-color-theme-text-primary-normal);
      }

      &[data-disabled='true'],
      &.disable,
      &[data-shallow-disabled='true'] {
        background-color: var(--mds-color-theme-button-secondary-normal);
        border-color: var(--mds-color-theme-outline-disabled-normal);
        color: var(--mds-color-theme-text-primary-disabled);
        cursor: auto;
      }
    }
  }

  // PRIMARY SOLID GHOST
  &[data-ghost='true'],
  &[data-solid='true'] {
    &[data-outline='false'] {
      background-color: var(--mds-color-theme-button-inverted-normal);
      color: var(--mds-color-theme-text-primary-normal);

      &:hover,
      &.hover {
        background-color: var(--mds-color-theme-button-inverted-hover);
        color: var(--mds-color-theme-text-primary-normal);
      }

      &:active,
      &.active {
        background-color: var(--mds-color-theme-button-inverted-pressed);
        color: var(--mds-color-theme-text-primary-normal);
      }

      &[data-disabled='true'],
      &.disable,
      &[data-shallow-disabled='true'] {
        background-color: var(--mds-color-theme-button-secondary-normal);
        color: var(--mds-color-theme-text-primary-disabled);
        cursor: auto;
      }
    }
  }

  // JOIN
  &[data-color='join'] {
    background-color: var(--mds-color-theme-button-join-normal);
    color: var(--mds-color-theme-common-text-white);

    &:hover,
    &.hover {
      background-color: var(--mds-color-theme-button-join-hover);
      color: var(--mds-color-theme-common-text-white);
    }

    &:active,
    &.active {
      background-color: var(--mds-color-theme-button-join-pressed);
      color: var(--mds-color-theme-common-text-white);
    }

    &[data-shallow-disabled='true'],
    &[data-disabled='true'],
    &.disable {
      background-color: var(--mds-color-theme-button-primary-disabled);
      color: var(--mds-color-theme-text-primary-disabled);
      cursor: auto;
    }

    &[data-ghost='true'][data-solid='false'] {
      background-color: var(--mds-color-theme-button-secondary-normal);
      color: var(--mds-color-theme-text-success-normal);

      &:hover,
      &.hover {
        background-color: var(--mds-color-theme-button-secondary-hover);
        color: var(--mds-color-theme-text-success-normal);
      }

      &:active,
      &.active {
        background-color: var(--mds-color-theme-button-secondary-pressed);
        color: var(--mds-color-theme-text-success-normal);
      }

      &[data-shallow-disabled='true'],
      &[data-disabled='true'],
      &.disable {
        background-color: var(--mds-color-theme-button-secondary-normal);
        color: var(--mds-color-theme-text-primary-disabled);
        cursor: auto;
      }

      &[data-outline='true'] {
        background-color: var(--mds-color-theme-button-secondary-normal);
        border-color: var(--mds-color-theme-outline-join-normal);
        color: var(--mds-color-theme-text-success-normal);

        &:hover,
        &.hover {
          background-color: var(--mds-color-theme-button-join-hover);
          border-color: rgba(0, 0, 0, 0);
          color: var(--mds-color-theme-common-text-white);
        }

        &:active,
        &.active {
          background-color: var(--mds-color-theme-button-join-pressed);
          border-color: rgba(0, 0, 0, 0);
          color: var(--mds-color-theme-common-text-white);
        }

        &[data-shallow-disabled='true'],
        &[data-disabled='true'],
        &.disable {
          background-color: var(--mds-color-theme-button-secondary-normal);
          border-color: var(--mds-color-theme-outline-disabled-normal);
          color: var(--mds-color-theme-text-primary-disabled);
          cursor: auto;
        }
      }
    }

    &[data-ghost='false'],
    &[data-solid='true'] {
      &[data-outline='true'] {
        background-color: var(--mds-color-theme-button-inverted-normal);
        border-color: var(--mds-color-theme-outline-join-normal);
        color: var(--mds-color-theme-text-success-normal);

        &:hover,
        &.hover {
          background-color: var(--mds-color-theme-button-join-hover);
          border-color: rgba(0, 0, 0, 0);
          color: var(--mds-color-theme-common-text-white);
        }

        &:active,
        &.active {
          background-color: var(--mds-color-theme-button-join-pressed);
          border-color: rgba(0, 0, 0, 0);
          color: var(--mds-color-theme-common-text-white);
        }

        &[data-shallow-disabled='true'],
        &[data-disabled='true'],
        &.disable {
          background-color: var(--mds-color-theme-button-secondary-normal);
          border-color: var(--mds-color-theme-outline-disabled-normal);
          color: var(--mds-color-theme-text-primary-disabled);
          cursor: auto;
        }
      }
    }
  }
  // CANCEL
  &[data-color='cancel'] {
    background-color: var(--mds-color-theme-button-cancel-normal);
    color: var(--mds-color-theme-common-text-white);

    &:hover,
    &.hover {
      background-color: var(--mds-color-theme-button-cancel-hover);
      color: var(--mds-color-theme-common-text-white);
    }

    &:active,
    &.active {
      background-color: var(--mds-color-theme-button-cancel-pressed);
      color: var(--mds-color-theme-common-text-white);
    }

    &[data-shallow-disabled='true'],
    &[data-disabled='true'],
    &.disable {
      background-color: var(--mds-color-theme-button-primary-disabled);
      color: var(--mds-color-theme-text-primary-disabled);
      cursor: auto;
    }

    &[data-ghost='true'][data-solid='false'] {
      background-color: var(--mds-color-theme-button-secondary-normal);
      color: var(--mds-color-theme-text-error-normal);

      &:hover,
      &.hover {
        background-color: var(--mds-color-theme-button-secondary-hover);
        color: var(--mds-color-theme-text-error-normal);
      }

      &:active,
      &.active {
        background-color: var(--mds-color-theme-button-secondary-pressed);
        color: var(--mds-color-theme-text-error-normal);
      }

      &[data-shallow-disabled='true'],
      &[data-disabled='true'],
      &.disable {
        background-color: var(--mds-color-theme-button-secondary-normal);
        color: var(--mds-color-theme-text-primary-disabled);
        cursor: auto;
      }

      &[data-outline='true'] {
        background-color: var(--mds-color-theme-button-secondary-normal);
        border-color: var(--mds-color-theme-outline-cancel-normal);
        color: var(--mds-color-theme-text-error-normal);

        &:hover,
        &.hover {
          background-color: var(--mds-color-theme-button-cancel-hover);
          border-color: rgba(0, 0, 0, 0);
          color: var(--mds-color-theme-common-text-white);
        }

        &:active,
        &.active {
          background-color: var(--mds-color-theme-button-cancel-pressed);
          border-color: rgba(0, 0, 0, 0);
          color: var(--mds-color-theme-common-text-white);
        }

        &[data-shallow-disabled='true'],
        &[data-disabled='true'],
        &.disable {
          background-color: var(--mds-color-theme-button-secondary-normal);
          border-color: var(--mds-color-theme-outline-disabled-normal);
          color: var(--mds-color-theme-text-primary-disabled);
          cursor: auto;
        }
      }
    }

    &[data-ghost='false'],
    &[data-solid='true'] {
      &[data-outline='true'] {
        background-color: var(--mds-color-theme-button-inverted-normal);
        border-color: var(--mds-color-theme-outline-cancel-normal);
        color: var(--mds-color-theme-text-error-normal);

        &:hover,
        &.hover {
          background-color: var(--mds-color-theme-button-cancel-hover);
          border-color: rgba(0, 0, 0, 0);
          color: var(--mds-color-theme-common-text-white);
        }

        &:active,
        &.active {
          background-color: var(--mds-color-theme-button-cancel-pressed);
          border-color: rgba(0, 0, 0, 0);
          color: var(--mds-color-theme-common-text-white);
        }

        &[data-shallow-disabled='true'],
        &[data-disabled='true'],
        &.disable {
          background-color: var(--mds-color-theme-button-secondary-normal);
          border-color: var(--mds-color-theme-outline-disabled-normal);
          color: var(--mds-color-theme-text-primary-disabled);
          cursor: auto;
        }
      }
    }
  }

  // MESSAGE
  &[data-color='message'] {
    background-color: var(--mds-color-theme-button-accent-normal);
    color: var(--mds-color-theme-common-text-white);

    &:hover,
    &.hover {
      background-color: var(--mds-color-theme-button-accent-hover);
      color: var(--mds-color-theme-common-text-white);
    }

    &:active,
    &.active {
      background-color: var(--mds-color-theme-button-accent-pressed);
      color: var(--mds-color-theme-common-text-white);
    }

    &[data-shallow-disabled='true'],
    &[data-disabled='true'],
    &.disable {
      background-color: var(--mds-color-theme-button-primary-disabled);
      color: var(--mds-color-theme-text-primary-disabled);
      cursor: auto;
    }

    &[data-ghost='true'][data-solid='false'] {
      background-color: var(--mds-color-theme-button-secondary-normal);
      color: var(--mds-color-theme-text-accent-normal);

      &:hover,
      &.hover {
        background-color: var(--mds-color-theme-button-secondary-hover);
        color: var(--mds-color-theme-text-accent-normal);
      }

      &:active,
      &.active {
        background-color: var(--mds-color-theme-button-secondary-pressed);
        color: var(--mds-color-theme-text-accent-normal);
      }

      &[data-shallow-disabled='true'],
      &[data-disabled='true'],
      &.disable {
        background-color: var(--mds-color-theme-button-secondary-normal);
        color: var(--mds-color-theme-text-primary-disabled);
        cursor: auto;
      }

      &[data-outline='true'] {
        background-color: var(--mds-color-theme-button-secondary-normal);
        border-color: var(--mds-color-theme-outline-theme-normal);
        color: var(--mds-color-theme-text-accent-normal);

        &:hover,
        &.hover {
          background-color: var(--mds-color-theme-button-accent-hover);
          border-color: rgba(0, 0, 0, 0);
          color: var(--mds-color-theme-common-text-white);
        }

        &:active,
        &.active {
          background-color: var(--mds-color-theme-button-accent-pressed);
          border-color: rgba(0, 0, 0, 0);
          color: var(--mds-color-theme-common-text-white);
        }

        &[data-shallow-disabled='true'],
        &[data-disabled='true'],
        &.disable {
          background-color: var(--mds-color-theme-button-secondary-normal);
          border-color: var(--mds-color-theme-outline-disabled-normal);
          color: var(--mds-color-theme-text-primary-disabled);
          cursor: auto;
        }
      }
    }

    &[data-ghost='false'],
    &[data-solid='true'] {
      &[data-outline='true'] {
        background-color: var(--mds-color-theme-button-inverted-normal);
        border-color: var(--mds-color-theme-outline-theme-normal);
        color: var(--mds-color-theme-text-accent-normal);

        &:hover,
        &.hover {
          background-color: var(--mds-color-theme-button-accent-hover);
          border-color: rgba(0, 0, 0, 0);
          color: var(--mds-color-theme-common-text-white);
        }

        &:active,
        &.active {
          background-color: var(--mds-color-theme-button-accent-pressed);
          border-color: rgba(0, 0, 0, 0);
          color: var(--mds-color-theme-common-text-white);
        }

        &[data-shallow-disabled='true'],
        &[data-disabled='true'],
        &.disable {
          background-color: var(--mds-color-theme-button-secondary-normal);
          border-color: var(--mds-color-theme-outline-disabled-normal);
          color: var(--mds-color-theme-text-primary-disabled);
          cursor: auto;
        }
      }
    }
  }

  /* Sizing and spacing. */
  align-items: center;
  border-radius: 100vh;
  display: flex;
  flex-shrink: 0;
  min-width: 1em;

  &[data-grown='true'] {
    width: 100%;
    justify-content: center;
  }

  &[data-size='40'] {
    font-size: 1rem;
    height: 2.5rem;
    padding: 0 1rem;
    line-height: 2.5rem;
  }

  &[data-size='32'] {
    font-size: 1rem;
    height: 2rem;
    padding: 0 0.75rem;
    line-height: 2rem;
  }

  &[data-size='28'] {
    font-size: 0.875rem;
    height: 1.75rem;
    padding: 0 0.625rem;
    line-height: 1.75rem;
  }

  &[data-size='24'] {
    font-size: 0.75rem;
    height: 1.5rem;
    padding: 0 0.625rem;
    line-height: 1.5rem;
  }

  &[data-size='20'] {
    font-size: 0.75rem;
    height: 1.25rem;
    line-height: 1.125rem;
    padding: 0 0.5rem;
  }

  > *:not(:first-child) {
    margin-left: 0.5em;
  }
}

[data-compressed='true'][data-spaced='true'] {
  > .md-button-pill-wrapper {
    padding: 0 1rem;
  }
}
