.md-button-pill-wrapper {
  border: 0rem solid rgba(0, 0, 0, 0); // IEFIX
  border: var(--md-globals-border-clear);
  border-width: 0.0625rem;
  cursor: pointer;
  font-family: CiscoSansTT; // IEFIX
  font-family: var(--md-globals-font-default);
  outline: none !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  /* Colorization */
  background-color: rgba(0, 0, 0, 0.95); // IEFIX
  background-color: var(--mds-color-theme-button-primary-normal);
  color: rgba(255, 255, 255, 0.95); // IEFIX
  color: var(--mds-color-theme-text-inverted-normal);

  &:hover,
  &.hover {
    background-color: rgba(0, 0, 0, 0.8); // IEFIX
    background-color: var(--mds-color-theme-button-primary-hover);
    color: rgba(255, 255, 255, 0.95); // IEFIX
    color: var(--mds-color-theme-text-inverted-normal);
  }

  &:active,
  &.active {
    background-color: rgba(0, 0, 0, 0.7); // IEFIX
    background-color: var(--mds-color-theme-button-primary-pressed);
    color: rgba(255, 255, 255, 0.95); // IEFIX
    color: var(--mds-color-theme-text-inverted-normal);
  }

  &[data-outline='true'] {
    background-color: var(--mds-color-theme-button-inverted-normal);
    border-color: var(--mds-color-theme-outline-button-normal);
    color: var(--mds-color-theme-text-primary-normal);

    &:hover,
    &.hover {
      background-color: rgba(0, 0, 0, 0.07); // IEFIX
      background-color: var(--mds-color-theme-button-secondary-hover);
      border-color: rgba(0, 0, 0, 0.3); // IEFIX
      border-color: var(--mds-color-theme-outline-button-normal);
      color: rgba(0, 0, 0, 0.95); // IEFIX
      color: var(--mds-color-theme-text-primary-normal);
    }

    &:active,
    &.active {
      background-color: rgba(0, 0, 0, 0.2); // IEFIX
      background-color: var(--mds-color-theme-button-secondary-pressed);
      border-color: rgba(0, 0, 0, 0.3); // IEFIX
      border-color: var(--mds-color-theme-outline-button-normal);
      color: rgba(0, 0, 0, 0.95); // IEFIX
      color: var(--mds-color-theme-text-primary-normal);
    }

    &[data-solid='true'] {
      background-color: var(--mds-color-theme-button-inverted-normal);
      border-color: var(--mds-color-theme-outline-button-normal);
      color: var(--mds-color-theme-text-primary-normal);

      &:hover,
      &.hover {
        background-color: var(--mds-color-theme-button-inverted-hover);
        border-color: var(--mds-color-theme-outline-button-normal);
        color: var(--mds-color-theme-text-primary-normal);
      }

      &:active,
      &.active {
        background-color: var(--mds-color-theme-button-inverted-pressed);
        border-color: var(--mds-color-theme-outline-button-normal);
        color: var(--mds-color-theme-text-primary-normal);
      }
    }
  }

  &[data-color='join'] {
    background-color: rgba(29, 128, 95, 1); // IEFIX
    background-color: var(--mds-color-theme-button-join-normal);
    color: rgba(255, 255, 255, 0.95); // IEFIX
    color: var(--mds-color-theme-common-text-white);

    &:hover,
    &.hover {
      background-color: rgba(24, 94, 70, 1); // IEFIX
      background-color: var(--mds-color-theme-button-join-hover);
      color: rgba(255, 255, 255, 0.95); // IEFIX
      color: var(--mds-color-theme-common-text-white);
    }

    &:active,
    &.active {
      background-color: rgba(19, 66, 49, 1); // IEFIX
      background-color: var(--mds-color-theme-button-join-pressed);
      color: rgba(255, 255, 255, 0.95); // IEFIX
      color: var(--mds-color-theme-common-text-white);
    }

    &[data-outline='true'] {
      background-color: rgba(0, 0, 0, 0); // IEFIX
      background-color: var(--mds-color-theme-button-secondary-normal);
      border-color: rgba(24, 94, 70, 1); // IEFIX
      border-color: var(--mds-color-theme-outline-join-normal);
      color: rgba(24, 94, 70, 1); // IEFIX
      color: var(--mds-color-theme-text-success-normal);

      &:hover,
      &.hover {
        background-color: rgba(24, 94, 70, 1); // IEFIX
        background-color: var(--mds-color-theme-button-join-hover);
        border-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0.95); // IEFIX
        color: var(--mds-color-theme-common-text-white);
      }

      &:active,
      &.active {
        background-color: rgba(19, 66, 49, 1); // IEFIX
        background-color: var(--mds-color-theme-button-join-pressed);
        border-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0.95); // IEFIX
        color: var(--mds-color-theme-common-text-white);
      }

      &[data-shallow-disabled='true'],
      &[data-disabled='true'],
      &.disable {
        background-color: rgba(0, 0, 0, 0); // IEFIX
        background-color: var(--mds-color-theme-button-secondary-normal);
        border-color: rgba(0, 0, 0, 0.2); // IEFIX
        border-color: var(--mds-color-theme-outline-disabled-normal);
        color: rgba(0, 0, 0, 0.4); // IEFIX
        color: var(--mds-color-theme-text-primary-disabled);
      }
    }
  }

  &[data-color='cancel'] {
    background-color: rgba(219, 31, 46, 1); // IEFIX
    background-color: var(--mds-color-theme-button-cancel-normal);
    color: rgba(255, 255, 255, 0.95); // IEFIX
    color: var(--mds-color-theme-common-text-white);

    &:hover,
    &.hover {
      background-color: rgba(171, 10, 21, 1); // IEFIX
      background-color: var(--mds-color-theme-button-cancel-hover);
      color: rgba(255, 255, 255, 0.95); // IEFIX
      color: var(--mds-color-theme-common-text-white);
    }

    &:active,
    &.active {
      background-color: rgba(120, 13, 19, 1); // IEFIX
      background-color: var(--mds-color-theme-button-cancel-pressed);
      color: rgba(255, 255, 255, 0.95); // IEFIX
      color: var(--mds-color-theme-common-text-white);
    }

    &[data-outline='true'] {
      background-color: rgba(0, 0, 0, 0); // IEFIX
      background-color: var(--mds-color-theme-button-secondary-normal);
      border-color: rgba(171, 10, 21, 1); // IEFIX
      border-color: var(--mds-color-theme-outline-cancel-normal);
      color: rgba(171, 10, 21, 1); // IEFIX
      color: var(--mds-color-theme-text-error-normal);

      &:hover,
      &.hover {
        background-color: rgba(171, 10, 21, 1); // IEFIX
        background-color: var(--mds-color-theme-button-cancel-hover);
        border-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0.95); // IEFIX
        color: var(--mds-color-theme-common-text-white);
      }

      &:active,
      &.active {
        background-color: rgba(120, 13, 19, 1); // IEFIX
        background-color: var(--mds-color-theme-button-cancel-pressed);
        border-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0.95); // IEFIX
        color: var(--mds-color-theme-common-text-white);
      }
    }
  }

  &[data-color='message'] {
    background-color: rgba(17, 112, 207, 1); // IEFIX
    background-color: var(--mds-color-theme-button-accent-normal);
    color: rgba(255, 255, 255, 0.95); // IEFIX
    color: var(--mds-color-theme-common-text-white);

    &:hover,
    &.hover {
      background-color: rgba(3, 83, 168, 1); // IEFIX
      background-color: var(--mds-color-theme-button-accent-hover);
      color: rgba(255, 255, 255, 0.95); // IEFIX
      color: var(--mds-color-theme-common-text-white);
    }

    &:active,
    &.active {
      background-color: rgba(6, 58, 117, 1); // IEFIX
      background-color: var(--mds-color-theme-button-accent-pressed);
      color: rgba(255, 255, 255, 0.95); // IEFIX
      color: var(--mds-color-theme-common-text-white);
    }

    &[data-outline='true'] {
      border-color: rgba(0, 0, 0, 0);
    }
  }

  &[data-ghost='true'] {
    background-color: rgba(0, 0, 0, 0); // IEFIX
    background-color: var(--mds-color-theme-button-secondary-normal);
    border-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.95); // IEFIX
    color: var(--mds-color-theme-text-primary-normal);

    &:hover,
    &.hover {
      background-color: rgba(0, 0, 0, 0.07); // IEFIX
      background-color: var(--mds-color-theme-button-secondary-hover);
      color: rgba(0, 0, 0, 0.95); // IEFIX
      color: var(--mds-color-theme-text-primary-normal);
    }

    &:active,
    &.active {
      background-color: rgba(0, 0, 0, 0.2); // IEFIX
      background-color: var(--mds-color-theme-button-secondary-pressed);
      color: rgba(0, 0, 0, 0.95); // IEFIX
      color: var(--mds-color-theme-text-primary-normal);
    }

    &[data-disabled='true'],
    &.disable,
    &[data-shallow-disabled='true'] {
      background-color: var(--mds-color-theme-button-secondary-normal);
      color: var(--mds-color-theme-text-primary-disabled);
    }

    &[data-color='cancel'][data-disabled='false'],
    &[data-color='cancel'][data-shallow-disabled='true'] {
      color: rgba(171, 10, 21, 1); // IEFIX
      color: var(--mds-color-theme-text-error-normal);

      &:hover,
      &.hover {
        color: rgba(171, 10, 21, 1); // IEFIX
        color: var(--mds-color-theme-text-error-normal);
      }

      &:active,
      &.active {
        color: rgba(171, 10, 21, 1); // IEFIX
        color: var(--mds-color-theme-text-error-normal);
      }
    }

    &[data-color='message'][data-disabled='false'],
    &[data-color='message'][data-shallow-disabled='false'] {
      color: rgba(3, 83, 168, 1); // IEFIX
      color: var(--mds-color-theme-text-accent-normal);

      &:hover,
      &.hover {
        color: rgba(3, 83, 168, 1); // IEFIX
        color: var(--mds-color-theme-text-accent-normal);
      }

      &:active,
      &.active {
        color: rgba(3, 83, 168, 1); // IEFIX
        color: var(--mds-color-theme-text-accent-normal);
      }
    }

    &[data-outline='true'] {
      background-color: rgba(0, 0, 0, 0); // IEFIX
      background-color: var(--mds-color-theme-button-secondary-normal);
      border-color: rgba(0, 0, 0, 0.3); // IEFIX
      border-color: var(--mds-color-theme-outline-button-normal);
      color: rgba(0, 0, 0, 0.95); // IEFIX
      color: var(--mds-color-theme-text-primary-normal);

      &:hover,
      &.hover {
        background-color: rgba(0, 0, 0, 0.07); // IEFIX
        background-color: var(--mds-color-theme-button-secondary-hover);
        color: rgba(0, 0, 0, 0.95); // IEFIX
        color: var(--mds-color-theme-text-primary-normal);
      }

      &:active,
      &.active {
        background-color: rgba(0, 0, 0, 0.2); // IEFIX
        background-color: var(--mds-color-theme-button-secondary-pressed);
        color: rgba(0, 0, 0, 0.95); // IEFIX
        color: var(--mds-color-theme-text-primary-normal);
      }
    }
  }

  &[data-shallow-disabled='true'],
  &[data-disabled='true'],
  &.disable {
    background-color: rgba(0, 0, 0, 0.2); // IEFIX
    background-color: var(--mds-color-theme-button-primary-disabled);
    color: rgba(0, 0, 0, 0.4); // IEFIX
    color: var(--mds-color-theme-text-primary-disabled);
    cursor: auto;

    &:hover,
    &.hover {
      background-color: rgba(0, 0, 0, 0.2); // IEFIX
      background-color: var(--mds-color-theme-button-primary-disabled);
      color: rgba(0, 0, 0, 0.4); // IEFIX
      color: var(--mds-color-theme-text-primary-disabled);
    }

    &:active,
    &.active {
      background-color: rgba(0, 0, 0, 0.2); // IEFIX
      background-color: var(--mds-color-theme-button-primary-disabled);
      color: rgba(0, 0, 0, 0.4); // IEFIX
      color: var(--mds-color-theme-text-primary-disabled);
    }

    &[data-outline='true'] {
      background-color: rgba(0, 0, 0, 0); // IEFIX
      background-color: var(--mds-color-theme-button-secondary-normal);
      border-color: rgba(0, 0, 0, 0.2); // IEFIX
      border-color: var(--mds-color-theme-outline-disabled-normal);
      color: rgba(0, 0, 0, 0.4); // IEFIX
      color: var(--mds-color-theme-text-primary-disabled);
      cursor: auto;

      &:hover,
      &.hover {
        background-color: rgba(0, 0, 0, 0); // IEFIX
        background-color: var(--mds-color-theme-button-secondary-normal);
        border-color: rgba(0, 0, 0, 0.2); // IEFIX
        border-color: var(--mds-color-theme-outline-disabled-normal);
        color: rgba(0, 0, 0, 0.4); // IEFIX
        color: var(--mds-color-theme-text-primary-disabled);
      }

      &:active,
      &.active {
        background-color: rgba(0, 0, 0, 0); // IEFIX
        background-color: var(--mds-color-theme-button-secondary-normal);
        border-color: rgba(0, 0, 0, 0.2); // IEFIX
        border-color: var(--mds-color-theme-outline-disabled-normal);
        color: rgba(0, 0, 0, 0.4); // IEFIX
        color: var(--mds-color-theme-text-primary-disabled);
      }

      &[data-solid='true'] {
        background-color: var(--mds-color-theme-button-inverted-normal);
        border-color: var(--mds-color-theme-outline-disabled-normal);
        color: var(--mds-color-theme-text-primary-disabled);

        &:hover,
        &.hover {
          background-color: var(--mds-color-theme-button-inverted-normal);
          border-color: var(--mds-color-theme-outline-disabled-normal);
          color: var(--mds-color-theme-text-primary-disabled);
        }

        &:active,
        &.active {
          background-color: var(--mds-color-theme-button-inverted-normal);
          border-color: var(--mds-color-theme-outline-disabled-normal);
          color: var(--mds-color-theme-text-primary-disabled);
        }
      }
    }
  }

  /* Sizing and spacing. */
  align-items: center;
  border-radius: 100vh;
  display: flex;
  flex-shrink: 0;
  min-width: 1em;

  &[data-grown='true'] {
    width: 100%;
    justify-content: center;
  }

  &[data-size='40'] {
    font-size: 1rem;
    height: 2.5rem;
    padding: 0 1rem;
    line-height: 2.5rem;
  }

  &[data-size='32'] {
    font-size: 1rem;
    height: 2rem;
    padding: 0 0.75rem;
    line-height: 2rem;
  }

  &[data-size='28'] {
    font-size: 0.875rem;
    height: 1.75rem;
    padding: 0 0.625rem;
    line-height: 1.75rem;
  }

  &[data-size='24'] {
    font-size: 0.75rem;
    height: 1.5rem;
    padding: 0 0.625rem;
    line-height: 1.5rem;
  }

  &[data-size='20'] {
    font-size: 0.75rem;
    height: 1.25rem;
    line-height: 1.125rem;
    padding: 0 0.5rem;
  }

  > *:not(:first-child) {
    margin-left: 0.5em;
  }
}

[data-compressed='true'][data-spaced='true'] {
  > .md-button-pill-wrapper {
    padding: 0 1rem;
  }
}
