.md-select-wrapper {
  min-width: 16rem;
  position: relative;
  display: inline-block;

  label {
    display: flex;
    color: var(--mds-color-theme-text-primary-normal);
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-left: 0.75rem;
    margin-bottom: 0.25rem;
  }
}

.md-select-dropdown-input {
  width: 100%;
  background-color: var(--mds-color-theme-background-solid-primary-normal);
  color: var(--mds-color-theme-text-secondary-normal);
  border: 1px solid var(--mds-color-theme-outline-input-normal);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0.25rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
  outline: none !important;
  cursor: pointer;


  > span:first-of-type {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &:hover {
    background-color: var(--mds-color-theme-background-primary-hover);
    color: var(--mds-color-theme-text-primary-normal);
    border-color: var(--mds-color-theme-outline-input-normal);
  }

  &:active {
    background-color: var(--mds-color-theme-background-solid-primary-normal);
    color: var(--mds-color-theme-text-primary-normal);
  }

  &.md-select-selected {
    color: var(--mds-color-theme-text-primary-normal);
  }

  &.md-select-open {
    background-color: var(--mds-color-theme-background-primary-active);
    border-color: var(--mds-color-theme-outline-input-active);
    color: var(--mds-color-theme-text-primary-disabled);
  }

  &:disabled {
    background-color: var(--mds-color-theme-background-primary-disabled);
    color: var(--mds-color-theme-text-primary-disabled);
    border-color: var(--mds-color-theme-background-primary-ghost);

    svg {
      fill: var(--mds-color-theme-text-primary-disabled);
    }
  }
}

.md-select-icon-wrapper {
  margin-left: 0.5rem;
  flex-shrink: 0;
}

.md-select-selected-item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  > *:not(:first-child) {
    margin-left: 0.5rem;
  }
}

.md-select-overlay {
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 9999;

  &[data-direction='top'] {
    // internal token set in React code
    bottom: calc(var(--md-globals-select-dropdown-input-height) + 0.25rem);
  }

  &[data-direction='bottom'] {
    margin-top: 0.25rem;
  }
}

.borderLess {
  border: none;
}