.md-tab-list-wrapper {
  &[data-has-background='true'] {
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    background-color: var(--mds-color-theme-background-primary-hover);
    border-radius: 8rem;
    flex-shrink: 0;
  }
}
