// color overrides, cause Design specs deviate from Momentum Design specs
.md-add-reaction-button-wrapper {
  height: var(--mdc-button-height-size-20);
  margin: 0 0.125rem;
  background-color: var(--mds-color-theme-background-solid-primary-normal);

  .reaction-badge-count {
    margin-left: 0.25rem;
  }

  &:hover {
    background-color: var(--mds-color-theme-background-solid-secondary-normal);
  }

  &:active {
    background-color: var(--mds-color-theme-background-solid-tertiary-normal);
  }
}

.md-add-reaction-button-wrapper::part(prefix-icon) {
  --mdc-icon-size: 0.75rem;
}
