.md-add-reaction-button-wrapper {
  border: 0.0625rem solid rgba(255, 255, 255, 0.2); // IEFIX
  border-color: var(--mds-color-theme-outline-secondary-normal);
  border-width: 0.0625rem;
  margin: 0 0.125rem;
  padding: 0;

  /* Colorization */
  background-color: rgba(255, 255, 255, 0.11); // IEFIX
  background-color: var(--mds-color-theme-background-secondary-normal);
  color: rgba(255, 255, 255, 0.95); // IEFIX
  color: var(--mds-color-theme-text-primary-normal);

  .reaction-badge-count {
    margin-left: 0.25rem;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2); // IEFIX
    background-color: var(--mds-color-theme-background-secondary-hover);
    color: rgba(255, 255, 255, 0.95); // IEFIX
    color: var(--mds-color-theme-text-primary-normal);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.3); // IEFIX
    background-color: var(--mds-color-theme-background-secondary-active);
    color: rgba(255, 255, 255, 0.95); // IEFIX
    color: var(--mds-color-theme-text-primary-normal);
  }
}
