// Inter Variable Font
@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter.var.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 1 1000; /* Required for Safari support */
}

.md-theme-provider-wrapper {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--mds-color-theme-text-primary-normal);
  // IE11 Bug with scroll bar: See https://www.sitepoint.com/community/t/content-shifting/110141/9
  background: var(--mds-color-theme-background-solid-primary-normal);
  background: var(--md-globals-gradient-primary);
  font-family: var(--md-globals-font-default);
  font-weight: 450;
  // adjusting Inter's letter spacing to match the old CiscoSans
  letter-spacing: -0.25px;

  // Firefox fix for scrollbar
  // On macOS, you need to set the General > Show scroll bars
  // setting in System Preferences to "Always" for this property to have any effect.
  scrollbar-color: var(--mds-color-theme-scrollbar-button-normal)
    var(--mds-color-theme-scrollbar-background-secondary-normal);
}

/* Global variables not available as tokens. */
.md-theme-provider-globals {
  --md-globals-border-clear: 0rem solid rgba(0, 0, 0, 0);
  --md-globals-focus-ring-box-shadow: 0 0 0 0.25rem rgba(100, 180, 250, 0.3),
    0 0 0 0.125rem var(--mds-color-theme-outline-theme-normal);
  --md-globals-focus-ring-box-shadow-accent: 0 0 0 0.0625rem
      var(--mds-color-theme-background-solid-primary-normal),
    0 0 0 0.3125rem rgba(100, 180, 250, 0.3),
    0 0 0 0.1875rem var(--mds-color-theme-outline-theme-normal);
  --md-globals-focus-ring-box-shadow-inset: var(--md-globals-focus-ring-box-shadow) inset;
  --md-globals-elevation-0: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-1: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-2: 0 0.5rem 1rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-3: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-4: 0 1rem 2rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-5: 0 1.25rem 2.5rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-6: 0 1.5rem 3rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-7: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-8: 0 2rem 4rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-focus-ring-outline: none;
  --md-globals-font-default: 'Inter';
  --md-globals-border-style-none: none;
  --md-globals-border-style-solid: solid;

  @media (forced-colors: active) {
    --md-globals-focus-ring-outline: 0.125rem solid CanvasText;
  }

  // Gradient backgrounds
  --md-globals-gradient-primary: var(--mds-color-theme-background-gradient-primary-normal);
  --md-globals-gradient-secondary: var(--mds-color-theme-background-gradient-secondary-normal);

  &.md-theme-lightWebex {
    --md-globals-focus-ring-box-shadow: 0 0 0 0.25rem rgba(17, 112, 207, 0.3),
      0 0 0 0.125rem var(--mds-color-theme-outline-theme-normal);
  }
}

/* Scrollbar Theme */

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: var(--mds-color-theme-scrollbar-background-secondary-normal);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--mds-color-theme-scrollbar-button-normal);
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--mds-color-theme-scrollbar-button-hover);
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
  background-clip: content-box;
}

/* Handle on press */
::-webkit-scrollbar-thumb:active {
  background: var(--mds-color-theme-scrollbar-button-pressed);
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
  height: 6.25rem;
  background-clip: content-box;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: inherit;
}
