/* 100 */
@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTTThin.woff2') format('woff2'),
    url('../../fonts/CiscoSansTTThin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTTThinOblique.woff2') format('woff2'),
    url('../../fonts/CiscoSansTTThinOblique.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

/* 200 */
@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTTExtraLight.woff2') format('woff2'),
    url('../../fonts/CiscoSansTTExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTTExtraLightOblique.woff2') format('woff2'),
    url('../../fonts/CiscoSansTTExtraLightOblique.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

/* 300 */
@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTTLight.woff2') format('woff2'),
    url('../../fonts/CiscoSansTTLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTTLightOblique.woff2') format('woff2'),
    url('../../fonts/CiscoSansTTLightOblique.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

/* regular/normal/400 */
@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTTRegular.woff2') format('woff2'),
    url('../../fonts/CiscoSansTTRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTTRegularOblique.woff2') format('woff2'),
    url('../../fonts/CiscoSansTTRegularOblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* 500 */
@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTT-Medium.woff2') format('woff2'),
    url('../../fonts/CiscoSansTT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* 700 */
@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTTBold.woff2') format('woff2'),
    url('../../fonts/CiscoSansTTBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTTBoldOblique.woff2') format('woff2'),
    url('../../fonts/CiscoSansTTBoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

/* 800 */
@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTTHeavy.woff2') format('woff2'),
    url('../../fonts/CiscoSansTTHeavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'CiscoSansTT';
  src: url('../../fonts/CiscoSansTTHeavyOblique.woff2') format('woff2'),
    url('../../fonts/CiscoSansTTHeavyOblique.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

.md-theme-provider-wrapper {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--theme-text-primary-normal);
  // IE11 Bug with scroll bar: See https://www.sitepoint.com/community/t/content-shifting/110141/9
  background: var(--theme-background-solid-primary-normal);
  background: var(--md-globals-gradient-primary);
  font-family: var(--md-globals-font-default);
  font-weight: normal;

  // Firefox fix for scrollbar
  // On macOS, you need to set the General > Show scroll bars
  // setting in System Preferences to "Always" for this property to have any effect.
  scrollbar-color: var(--scrollbar-track-background) var(--scrollbar-thumb-background);
}

/* Global variables not available as tokens. */
.md-theme-provider-globals {
  --md-globals-border-clear: 0rem solid rgba(0, 0, 0, 0);
  --md-globals-focus-ring-box-shadow: 0 0 0 0.25rem rgba(100, 180, 250, 0.3),
    0 0 0 0.125rem var(--theme-outline-focus-normal);
  --md-globals-elevation-0: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-1: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-2: 0 0.5rem 1rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-3: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-4: 0 1rem 2rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-5: 0 1.25rem 2.5rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-6: 0 1.5rem 3rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-7: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-elevation-8: 0 2rem 4rem rgba(0, 0, 0, 0.2), 0 0 0.0625rem rgba(0, 0, 0, 0.11);
  --md-globals-focus-ring-outline: none;
  --md-globals-font-default: 'CiscoSansTT';

  // Gradient backgrounds
  --md-globals-gradient-primary: linear-gradient(
    180deg,
    var(--theme-background-gradient-primary-0) 0%,
    var(--theme-background-gradient-primary-1) 100%
  );
  --md-globals-gradient-secondary: linear-gradient(
    180deg,
    var(--theme-background-gradient-secondary-0) 0%,
    var(--theme-background-gradient-secondary-1) 100%
  );

  &.md-theme-lightWebex {
    --md-globals-focus-ring-box-shadow: 0 0 0 0.25rem rgba(17, 112, 207, 0.3),
      0 0 0 0.125rem var(--theme-outline-focus-normal);
  }
}

/* Scrollbar Theme */

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background);
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-background-hovered);
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
  background-clip: content-box;
}

/* Handle on press */
::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-background-pressed);
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
  height: 6.25rem;
  background-clip: content-box;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: inherit;
}
