.md-theme-provider-wrapper {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--theme-text-primary-normal);
  font-family: var(--md-globals-font-default);
  font-weight: normal;
}

/* Global variables not available as tokens. */
.md-theme-provider-globals {
  --md-globals-border-clear: 0rem solid rgba(0, 0, 0, 0);
  --md-globals-focus-ring-box-shadow: 0 0 0 0.0625rem var(--theme-background-solid-primary-normal),
    0 0 0 0.125rem var(--theme-outline-focus-normal);
  --md-globals-elevation-4: 0px 24px 48px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(0, 0, 0, 0.12);
  --md-globals-focus-ring-outline: none;
  --md-globals-font-default: CiscoSansTT;
}
