svg.md-icon-coloured {
  fill: initial;

  path:not([fill]) {
    fill: rgba(0, 0, 0, 0.95); // IEFIX
    fill: var(--theme-text-primary-normal);
  }
}

.md-icon-wrapper {
  align-items: center;
  display: flex;
  height: fit-content;
  justify-content: center;
  width: fit-content;
  flex-shrink: 0;

  > *[data-autoscale='true'] {
    width: 1em;
    height: 1em;
  }

  > *[data-autoscale='25'] {
    width: 0.25em;
    height: 0.25em;
  }

  > *[data-autoscale='50'] {
    width: 0.5em;
    height: 0.5em;
  }

  > *[data-autoscale='75'] {
    width: 0.75em;
    height: 0.75em;
  }

  > *[data-autoscale='100'] {
    width: 1em;
    height: 1em;
  }

  > *[data-autoscale='125'] {
    width: 1.25em;
    height: 1.25em;
  }

  > *[data-autoscale='150'] {
    width: 1.5em;
    height: 1.5em;
  }

  > *[data-autoscale='175'] {
    width: 1.75em;
    height: 1.75em;
  }

  > *[data-autoscale='200'] {
    width: 2em;
    height: 2em;
  }

  > *[data-scale='8'] {
    width: 0.5rem;
    height: 0.5rem;
  }

  > *[data-scale='10'] {
    width: 0.625rem;
    height: 0.625rem;
  }

  > *[data-scale='12'] {
    width: 0.75rem;
    height: 0.75rem;
  }

  > *[data-scale='14'] {
    width: 0.875rem;
    height: 0.875rem;
  }

  > *[data-scale='16'] {
    width: 1rem;
    height: 1rem;
  }

  > *[data-scale='18'] {
    width: 1.125rem;
    height: 1.125rem;
  }

  > *[data-scale='20'] {
    width: 1.25rem;
    height: 1.25rem;
  }

  > *[data-scale='22'] {
    width: 1.375rem;
    height: 1.375rem;
  }

  > *[data-scale='24'] {
    width: 1.5rem;
    height: 1.5rem;
  }

  > *[data-scale='28'] {
    width: 1.75rem;
    height: 1.75rem;
  }

  > *[data-scale='32'] {
    width: 2rem;
    height: 2rem;
  }

  > *[data-scale='36'] {
    width: 2.25rem;
    height: 2.25rem;
  }

  > *[data-scale='40'] {
    width: 2.5rem;
    height: 2.5rem;
  }

  > *[data-scale='48'] {
    width: 3rem;
    height: 3rem;
  }

  > *[data-scale='56'] {
    width: 3.5rem;
    height: 3.5rem;
  }

  > *[data-scale='64'] {
    width: 4rem;
    height: 4rem;
  }

  > *[data-scale='120'] {
    width: 7.5rem;
    height: 7.5rem;
  }

  > *[data-scale='124'] {
    width: 7.75rem;
    height: 7.75rem;
  }
}

.md-icon-not-found {
  align-items: center;
  display: flex;
  justify-content: center;
}
