.md-loading-spinner-wrapper {
  position: relative;

  @keyframes spin-animation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .md-loading-spinner-icon {
    animation-name: spin-animation;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    svg > path:first-child {
      fill: var(--spinner-loading-track);
    }

    svg > path:nth-child(2) {
      fill: var(--spinner-loading-cursor);
    }
  }
}
