@use "sass:math";

.md-search-input-wrapper {
  $search-width: 16.25rem;
  $search-height: 2rem;
  $search-border-radius: math.div($search-height, 4);

  position: relative;
  border-radius: $search-border-radius;
  background-color: var(--textinput-background);
  border: 0.0625rem solid var(--textinput-border-color);
  box-sizing: border-box;
  height: $search-height;
  width: $search-width;
  display: flex;
  align-content: center;

  &[data-focus='true'] {
    box-shadow: var(--md-globals-focus-ring-box-shadow);
  }

  &:hover {
    background-color: var(--textinput-background-hovered);
  }

  &[data-disabled='true'] {
    background-color: var(--textinput-background-disabled);
    border-color: var(--textinput-background-disabled);

    input {
      color: var(--textinput-text-disabled);
    }

    .search-icon {
      color: var(--textinput-text-disabled);
    }
  }

  .md-search-input-container {
    position: relative;
    display: flex;
    flex-grow: 1;
  }

  label {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  input {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    color: var(--textinput-text);
    font-family: var(--md-globals-font-default);
    font-size: 0.875rem;
    display: inline-block;
    flex: 1;

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: var(--globalHeader-textfieldPlaceholderText-text);
    }
  }

  .md-search-input-search,
  .md-search-input-searching {
    $icon-height: math.div($search-height, 2);

    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 8px;
    align-content: center;
    // flex-grow: 0;
  }

  .md-search-input-clear {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: var(--globalHeader-buttonIcon-icon);

    &:active {
      color: var(--globalHeader-buttonIcon-icon-pressed);
    }
  }

  ::-webkit-search-cancel-button {
    -webkit-appearance: none;
    pointer-events: none;
  }
}
