.md-toast-content-wrapper {
  margin: 0 1rem 1rem 1rem;
  max-width: 20.75rem;

  > .md-toast-content-scope {
    font-size: 0.875rem;

    > .md-toast-content-action {
      &[data-color="cancel"] {
        color: var(--theme-text-error-normal);
      }

      &[data-color="join"] {
        color: var(--theme-text-accent-normal);
      }

      &[data-color="success"] {
        color: var(--theme-text-success-normal);
      }

      &[data-color="warning"] {
        color: var(--theme-text-warning-normal);
      }
    }
  }

  > .md-toast-content-info {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    white-space: pre-wrap;
  }

  > .md-toast-content-actions {
    justify-content: flex-end;
    margin: 0.5rem 0 0 0;
    width: 100%;
  }
}
