.md-button-control-wrapper {
  align-items: center;
  background-color: var(--button-ghost-background);
  border: var(--md-globals-border-clear);
  color: var(--button-ghost-text);
  cursor: pointer;
  display: flex;
  font-family: var(--md-globals-font-default);
  height: 2rem;
  justify-content: center;
  margin: 0;
  outline: none !important;
  padding: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  width: 2rem;

  &:hover {
    background-color: var(--button-ghost-background-hovered);
    color: var(--button-ghost-text-hovered);
  }

  &:active {
    background-color: var(--button-secondary-background-pressed);
    color: var(--button-secondary-text-pressed);
  }

  &[data-disabled='true'] {
    background-color: var(--button-ghost-background);
    color: var(--button-primary-text-disabled);
    cursor: auto;

    &:hover {
      background-color: var(--button-ghost-background);
      color: var(--button-primary-text-disabled);
    }

    &:active {
      background-color: var(--button-ghost-background);
      color: var(--button-primary-text-disabled);
    }
  }

  &[data-circular='true'] {
    border-radius: 100vh;
    margin-left: 0.125rem;
  }
}
