.md-button-control-wrapper {
  align-items: center;
  background-color: rgba(0, 0, 0, 0); // IEFIX
  background-color: var(--button-ghost-background);
  border: 0rem solid rgba(0, 0, 0, 0); // IEFIX
  border: var(--md-globals-border-clear);
  color: rgba(0, 0, 0, 0.95); // IEFIX
  color: var(--button-ghost-text);
  cursor: pointer;
  display: flex;
  font-family: CiscoSansTT; // IEFIX
  font-family: var(--md-globals-font-default);
  height: 2rem;
  justify-content: center;
  margin: 0;
  outline: none;
  padding: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  width: 2rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.07); // IEFIX
    background-color: var(--button-ghost-background-hovered);
    color: rgba(0, 0, 0, 0.95); // IEFIX
    color: var(--button-ghost-text-hovered);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.2); // IEFIX
    background-color: var(--button-secondary-background-pressed);
    color: rgba(0, 0, 0, 0.95); // IEFIX
    color: var(--button-secondary-text-pressed);
  }

  &[data-circular="true"] {
    border-radius: 100vh;
    margin-left: 0.125rem;
  }
}
