.md-text-input-wrapper {
  position: relative;
  text-align: left;

  label {
    margin-bottom: 0.5rem;
    margin-left: 0.75rem;
    display: flex;
  }

  .md-text-input-container {
    background-color: var(--textinput-background);
    border: 0.0625rem var(--textinput-border-style) var(--textinput-border-color);
    border-radius: 0.5rem;

    &:hover {
      background-color: var(--textinput-background-hovered);
      border-color: var(--textinput-border-color-hovered);

      input {
        color: var(--textinput-text-hovered);
      }
    }
  }

  input {
    width: calc(100% - 2rem);
    color: var(--textinput-text);
    outline: none;
    height: 2rem;
    box-sizing: border-box;
    box-shadow: none;
    background-color: transparent;
    border: 0;
    font-family: var(--md-globals-font-default);
    font-size: 1rem;
    padding-left: 0.75rem;

    &::placeholder {
      color: var(--textinput-placeholder-text);
    }

    &::-webkit-contacts-auto-fill-button {
      background-color: var(--theme-text-secondary-normal);

      &:hover {
        background-color: var(--theme-text-primary-normal);
      }

      &:active {
        background-color: var(--theme-text-secondary-normal);
      }
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-animation: autofill 0s forwards;
      animation: autofill 0s forwards;
    }

    @keyframes autofill {
      100% {
        background: transparent;
        color: inherit;
      }
    }

    @-webkit-keyframes autofill {
      100% {
        background: transparent;
        color: inherit;
      }
    }

    &:-webkit-autofill-strong-password {
      margin-top: 0.0625rem;
      margin-left: 0.0625rem;
      -webkit-box-shadow: 0 0 0 3.75rem #f9ffbd inset;
      box-shadow: 0 0 0 3.75rem #f9ffbd inset;
      border-radius: 0.375rem 0 0 0.375rem;
    }
  }

  &[data-level='error'] {
    .md-text-input-container {
      background-color: var(--textinput-error-background);
      border-color: var(--textinput-error-border-color);

      &:hover {
        background-color: var(--textinput-error-background-hovered);
        border-color: var(--textinput-error-border-color-hovered);
      }
    }
  }

  &[data-focus='true'] {
    .md-text-input-container {
      box-shadow: var(--md-globals-focus-ring-box-shadow);
    }
  }

  &[data-disabled='true'] {
    .md-text-input-container {
      background-color: var(--textinput-background-disabled);
      border-color: var(--textinput-background-disabled);

      input {
        color: var(--textinput-text-disabled);
      }
    }
  }

  .md-text-input-help,
  .md-text-input-error {
    margin-left: 0.75rem;
    margin-top: 0.5rem;
  }

  .clear-icon {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    color: var(--theme-text-secondary-normal);
    display: inline-flex;
    height: 2rem;
    align-items: center;
    outline: none;
  }
}
