.md-text-input-wrapper {
  position: relative;

  label {
    margin-bottom: 0.5rem;
    margin-left: 0.75rem;
    display: flex;
  }

  .md-text-input-container {
    background-color: var(--textinput-background);
    border: 0.0625rem var(--textinput-border-style) var(--textinput-border-color);
    border-radius: 0.5rem;

    &:hover {
      background-color: var(--textinput-background-hovered);
      border-color: var(--textinput-border-color-hovered);

      input {
        color: var(--textinput-text-hovered);
      }
    }
  }

  input {
    width: calc(100% - 2rem);
    color: var(--textinput-text);
    outline: none;
    height: 2rem;
    box-sizing: border-box;
    background-color: transparent;
    border: 0;
    font-family: var(--md-globals-font-default);
    font-size: 1rem;
    padding-left: 0.75rem;

    &::placeholder {
      color: var(--textinput-placeholder-text);
    }
  }

  &[data-level='error'] {
    .md-text-input-container {
      background-color: var(--textinput-error-background);
      border-color: var(--textinput-error-border-color);

      &:hover {
        background-color: var(--textinput-error-background-hovered);
        border-color: var(--textinput-error-border-color-hovered);
      }
    }
  }

  &[data-focus='true'] {
    .md-text-input-container {
      box-shadow: var(--md-globals-focus-ring-box-shadow);
    }
  }

  &[data-disabled='true'] {
    .md-text-input-container {
      background-color: var(--textinput-background-disabled);
      border-color: var(--textinput-background-disabled);

      input {
        color: var(--textinput-text-disabled);
      }
    }
  }

  .text-input-help,
  .text-input-error {
    margin-left: 0.75rem;
    margin-top: 0.5rem;
  }

  .clear-icon {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    color: var(--theme-text-secondary-normal);
    display: inline-flex;
    height: 2rem;
    align-items: center;
    outline: none;
  }
}
