.md-theme-darkWebex {
  --avatar-presence-icon-active: rgba(39, 161, 122, 1);
  --avatar-presence-icon-meeting: rgba(242, 153, 10, 1);
  --avatar-presence-icon-schedule: rgba(242, 153, 10, 1);
  --avatar-presence-icon-dnd: rgba(219, 31, 46, 1);
  --avatar-presence-icon-presenting: rgba(219, 31, 46, 1);
  --avatar-presence-icon-quiet-hours: rgba(201, 201, 201, 1);
  --avatar-presence-icon-away: rgba(201, 201, 201, 1);
  --avatar-presence-icon-ooo: rgba(201, 201, 201, 1);
  --avatar-color-avatar-text: rgba(255, 255, 255, 0.95);
  --avatar-color-avatar-background-default: rgba(255, 255, 255, 0.3);
  --avatar-color-avatar-background-gold: rgba(115, 81, 7, 1);
  --avatar-color-avatar-background-orange: rgba(145, 64, 23, 1);
  --avatar-color-avatar-background-lime: rgba(65, 97, 22, 1);
  --avatar-color-avatar-background-mint: rgba(18, 97, 90, 1);
  --avatar-color-avatar-background-cyan: rgba(6, 96, 112, 1);
  --avatar-color-avatar-background-cobalt: rgba(8, 89, 156, 1);
  --avatar-color-avatar-background-slate: rgba(83, 85, 115, 1);
  --avatar-color-avatar-background-violet: rgba(100, 58, 189, 1);
  --avatar-color-avatar-background-purple: rgba(147, 32, 153, 1);
  --avatar-color-avatar-background-pink: rgba(161, 42, 58, 1);
  --avatar-personas-speaker-static-inner-ring-0: rgba(8, 89, 156, 1);
  --avatar-personas-speaker-static-inner-ring-1: rgba(34, 199, 214, 1);
  --avatar-personas-speaker-static-inner-ring-2: rgba(39, 161, 122, 1);
  --avatar-personas-speaker-speaking-inner-ring-0: rgba(8, 89, 156, 1);
  --avatar-personas-speaker-speaking-inner-ring-1: rgba(34, 199, 214, 1);
  --avatar-personas-speaker-speaking-inner-ring-2: rgba(39, 161, 122, 1);
  --avatar-personas-speaker-speaking-outer-ring-color-0: rgba(8, 89, 156, 1);
  --avatar-personas-speaker-speaking-outer-ring-color-1: rgba(34, 199, 214, 1);
  --avatar-personas-speaker-speaking-outer-ring-color-2: rgba(39, 161, 122, 1);
  --avatar-personas-speaker-speaking-outer-ring-opacity: 32%;
  --avatar-personas-bot-temp-background: rgba(255, 255, 255, 0.3);
  --avatar-personas-bot-temp-icon: rgba(255, 255, 255, 0.95);
  --avatar-personas-bot-image-avatar-badge-background: rgba(17, 112, 207, 1);
  --avatar-personas-bot-image-avatar-badge-text: rgba(255, 255, 255, 0.95);
  --avatar-personas-device-background: rgba(255, 255, 255, 0.3);
  --avatar-personas-device-icon: rgba(255, 255, 255, 0.95);
  --avatar-personas-alert-background: rgba(255, 255, 255, 0.3);
  --avatar-personas-alert-icon: rgba(255, 255, 255, 0.95);
  --button-primary-background: rgba(255, 255, 255, 0.95);
  --button-primary-background-hovered: rgba(255, 255, 255, 0.8);
  --button-primary-background-pressed: rgba(255, 255, 255, 0.7);
  --button-primary-background-disabled: rgba(255, 255, 255, 0.2);
  --button-primary-text: rgba(0, 0, 0, 0.95);
  --button-primary-text-hovered: rgba(0, 0, 0, 0.95);
  --button-primary-text-pressed: rgba(0, 0, 0, 0.95);
  --button-primary-text-disabled: rgba(255, 255, 255, 0.4);
  --button-secondary-background: rgba(255, 255, 255, 0);
  --button-secondary-background-hovered: rgba(255, 255, 255, 0.07);
  --button-secondary-background-pressed: rgba(255, 255, 255, 0.2);
  --button-secondary-background-disabled: rgba(255, 255, 255, 0);
  --button-secondary-text: rgba(255, 255, 255, 0.95);
  --button-secondary-text-hovered: rgba(255, 255, 255, 0.95);
  --button-secondary-text-pressed: rgba(255, 255, 255, 0.95);
  --button-secondary-text-disabled: rgba(255, 255, 255, 0.4);
  --button-secondary-border: rgba(255, 255, 255, 0.3);
  --button-secondary-border-hovered: rgba(255, 255, 255, 0.3);
  --button-secondary-border-pressed: rgba(255, 255, 255, 0.3);
  --button-secondary-border-disabled: rgba(255, 255, 255, 0.2);
  --button-ghost-background: rgba(255, 255, 255, 0);
  --button-ghost-background-hovered: rgba(255, 255, 255, 0.07);
  --button-ghost-background-pressed: rgba(255, 255, 255, 0.2);
  --button-ghost-text: rgba(255, 255, 255, 0.95);
  --button-ghost-text-hovered: rgba(255, 255, 255, 0.95);
  --button-ghost-text-pressed: rgba(255, 255, 255, 0.95);
  --button-join-fill-background: rgba(29, 128, 95, 1);
  --button-join-fill-background-hovered: rgba(24, 94, 70, 1);
  --button-join-fill-background-pressed: rgba(19, 66, 49, 1);
  --button-join-fill-text: rgba(255, 255, 255, 0.95);
  --button-join-fill-text-hovered: rgba(255, 255, 255, 0.95);
  --button-join-fill-text-pressed: rgba(255, 255, 255, 0.95);
  --button-join-outline-background: rgba(255, 255, 255, 0);
  --button-join-outline-background-hovered: rgba(24, 94, 70, 1);
  --button-join-outline-background-pressed: rgba(19, 66, 49, 1);
  --button-join-outline-text: rgba(60, 194, 154, 1);
  --button-join-outline-text-hovered: rgba(255, 255, 255, 0.95);
  --button-join-outline-text-pressed: rgba(255, 255, 255, 0.95);
  --button-join-outline-border: rgba(60, 194, 154, 1);
  --button-cancel-fill-background: rgba(219, 31, 46, 1);
  --button-cancel-fill-background-hovered: rgba(171, 10, 21, 1);
  --button-cancel-fill-background-pressed: rgba(120, 13, 19, 1);
  --button-cancel-fill-text: rgba(255, 255, 255, 0.95);
  --button-cancel-fill-text-hovered: rgba(255, 255, 255, 0.95);
  --button-cancel-fill-text-pressed: rgba(255, 255, 255, 0.95);
  --button-cancel-outline-background: rgba(255, 255, 255, 0);
  --button-cancel-outline-background-hovered: rgba(171, 10, 21, 1);
  --button-cancel-outline-background-pressed: rgba(120, 13, 19, 1);
  --button-cancel-outline-text: rgba(252, 139, 152, 1);
  --button-cancel-outline-text-hovered: rgba(255, 255, 255, 0.95);
  --button-cancel-outline-text-pressed: rgba(255, 255, 255, 0.95);
  --button-cancel-outline-border: rgba(245, 88, 104, 1);
  --button-message-fill-background: rgba(17, 112, 207, 1);
  --button-message-fill-background-hovered: rgba(3, 83, 168, 1);
  --button-message-fill-background-pressed: rgba(6, 58, 117, 1);
  --button-message-fill-text: rgba(255, 255, 255, 0.95);
  --button-message-fill-text-hovered: rgba(255, 255, 255, 0.95);
  --button-message-fill-text-pressed: rgba(255, 255, 255, 0.95);
  --button-counter-background: rgba(255, 255, 255, 0.95);
  --button-counter-background-hovered: rgba(255, 255, 255, 0.8);
  --button-counter-background-pressed: rgba(255, 255, 255, 0.7);
  --button-counter-text: rgba(0, 0, 0, 0.95);
  --button-counter-text-hovered: rgba(0, 0, 0, 0.95);
  --button-counter-text-pressed: rgba(0, 0, 0, 0.95);
  --button-dialpad-background: rgba(255, 255, 255, 0);
  --button-dialpad-background-hovered: rgba(255, 255, 255, 0.07);
  --button-dialpad-background-pressed: rgba(255, 255, 255, 0.2);
  --button-dialpad-background-disabled: rgba(255, 255, 255, 0);
  --button-dialpad-text-number: rgba(255, 255, 255, 0.4);
  --button-dialpad-text-characters: rgba(255, 255, 255, 0.4);
  --button-dialpad-special-background: rgba(255, 255, 255, 0);
  --button-dialpad-special-text-number: rgba(255, 255, 255, 0.95);
  --button-dialpad-special-text-characters: rgba(255, 255, 255, 0.7);
  --button-hyperlink-text: rgba(100, 180, 250, 1);
  --button-hyperlink-text-hovered: rgba(191, 227, 255, 1);
  --button-hyperlink-text-pressed: rgba(191, 227, 255, 1);
  --button-hyperlink-text-focused: rgba(100, 180, 250, 1);
  --button-hyperlink-text-disabled: rgba(255, 255, 255, 0.4);
  --button-hyperlink-border-focused: rgba(100, 180, 250, 1);
  --theme-color-10: rgba(219, 240, 255, 1);
  --theme-color-20: rgba(191, 227, 255, 1);
  --theme-color-30: rgba(150, 208, 255, 1);
  --theme-color-40: rgba(100, 180, 250, 1);
  --theme-color-50: rgba(52, 146, 235, 1);
  --theme-color-60: rgba(17, 112, 207, 1);
  --theme-color-70: rgba(3, 83, 168, 1);
  --theme-color-80: rgba(6, 58, 117, 1);
  --theme-color-90: rgba(10, 39, 74, 1);
  --theme-color-95: rgba(9, 26, 48, 1);
  --theme-color-100: rgba(7, 16, 28, 1);
  --theme-color-05: rgba(237, 248, 255, 1);
  --theme-text-primary-normal: rgba(255, 255, 255, 0.95);
  --theme-text-primary-inverted: rgba(0, 0, 0, 0.95);
  --theme-text-primary-disabled: rgba(255, 255, 255, 0.4);
  --theme-text-secondary-normal: rgba(255, 255, 255, 0.7);
  --theme-text-error-normal: rgba(252, 139, 152, 1);
  --theme-text-error-hover: rgba(255, 212, 218, 1);
  --theme-text-error-active: rgba(255, 212, 218, 1);
  --theme-text-success-normal: rgba(60, 194, 154, 1);
  --theme-text-success-hover: rgba(159, 237, 216, 1);
  --theme-text-success-active: rgba(159, 237, 216, 1);
  --theme-text-warning-normal: rgba(242, 153, 10, 1);
  --theme-text-warning-hover: rgba(255, 218, 148, 1);
  --theme-text-warning-active: rgba(255, 218, 148, 1);
  --theme-text-highlight: rgba(6, 58, 117, 1);
  --theme-text-accent-normal: rgba(100, 180, 250, 1);
  --theme-text-accent-hover: rgba(191, 227, 255, 1);
  --theme-text-accent-active: rgba(191, 227, 255, 1);
  --theme-background-primary-normal: rgba(255, 255, 255, 0);
  --theme-background-primary-hover: rgba(255, 255, 255, 0.05);
  --theme-background-primary-active: rgba(255, 255, 255, 0.11);
  --theme-background-disabled: rgba(255, 255, 255, 0.11);
  --theme-background-solid-normal: rgba(15, 15, 15, 1);
  --theme-background-solid-secondary-normal: rgba(26, 26, 26, 1);
  --theme-background-solid-tertiary-normal: rgba(38, 38, 38, 1);
  --theme-background-secondary-normal: rgba(255, 255, 255, 0.11);
  --theme-background-secondary-hover: rgba(255, 255, 255, 0.2);
  --theme-background-secondary-active: rgba(255, 255, 255, 0.3);
  --theme-background-accent-normal: rgba(17, 112, 207, 1);
  --theme-background-gradient-primary-0: rgba(26, 26, 26, 1);
  --theme-background-gradient-primary-1: rgba(15, 15, 15, 1);
  --theme-background-gradient-secondary-0: rgba(38, 38, 38, 1);
  --theme-background-gradient-secondary-1: rgba(15, 15, 15, 1);
  --theme-background-warning: rgba(87, 51, 10, 1);
  --theme-background-error: rgba(120, 13, 19, 1);
  --theme-background-theme: rgba(10, 39, 74, 1);
  --theme-background-success: rgba(19, 66, 49, 1);
  --theme-overlay-primary: rgba(0, 0, 0, 0.9);
  --theme-overlay-secondary: rgba(0, 0, 0, 0.4);
  --theme-button-primary-normal: rgba(255, 255, 255, 0.95);
  --theme-button-primary-hover: rgba(255, 255, 255, 0.8);
  --theme-button-primary-pressed: rgba(255, 255, 255, 0.7);
  --theme-button-primary-disabled: rgba(255, 255, 255, 0.2);
  --theme-button-secondary-normal: rgba(255, 255, 255, 0);
  --theme-button-secondary-hover: rgba(255, 255, 255, 0.07);
  --theme-button-secondary-pressed: rgba(255, 255, 255, 0.2);
  --theme-button-inverted-normal: rgba(15, 15, 15, 1);
  --theme-button-inverted-hover: rgba(38, 38, 38, 1);
  --theme-button-inverted-pressed: rgba(59, 59, 59, 1);
  --theme-button-join-normal: rgba(29, 128, 95, 1);
  --theme-button-join-hover: rgba(24, 94, 70, 1);
  --theme-button-join-pressed: rgba(19, 66, 49, 1);
  --theme-button-cancel-normal: rgba(219, 31, 46, 1);
  --theme-button-cancel-hover: rgba(171, 10, 21, 1);
  --theme-button-cancel-pressed: rgba(120, 13, 19, 1);
  --theme-button-accent-normal: rgba(17, 112, 207, 1);
  --theme-button-accent-hover: rgba(3, 83, 168, 1);
  --theme-button-accent-pressed: rgba(6, 58, 117, 1);
  --theme-outline-primary-normal: rgba(255, 255, 255, 0.4);
  --theme-outline-focus: rgba(100, 180, 250, 1);
  --theme-outline-secondary-normal: rgba(255, 255, 255, 0.2);
  --theme-outline-button-normal: rgba(255, 255, 255, 0.3);
  --theme-outline-input-normal: rgba(255, 255, 255, 0.5);
  --theme-outline-input-active: rgba(255, 255, 255, 0.9);
  --theme-outline-join: rgba(60, 194, 154, 1);
  --theme-outline-cancel: rgba(245, 88, 104, 1);
  --theme-outline-disabled: rgba(255, 255, 255, 0.2);
  --theme-outline-gradient-active-0: rgba(8, 89, 156, 1);
  --theme-outline-gradient-active-1: rgba(34, 199, 214, 1);
  --theme-outline-gradient-active-2: rgba(39, 161, 122, 1);
  --theme-control-active-normal: rgba(100, 180, 250, 1);
  --theme-control-active-hover: rgba(52, 146, 235, 1);
  --theme-control-active-pressed: rgba(17, 112, 207, 1);
  --theme-control-active-active: rgba(17, 112, 207, 1);
  --theme-control-active-disabled: rgba(10, 39, 74, 1);
  --theme-control-inactive-normal: rgba(255, 255, 255, 0.5);
  --theme-control-inactive-hover: rgba(255, 255, 255, 0.11);
  --theme-control-inactive-pressed: rgba(255, 255, 255, 0.2);
  --theme-control-inactive-disabled: rgba(255, 255, 255, 0.05);
  --theme-presence-busy: rgba(242, 153, 10, 1);
  --theme-presence-doNotDisturb: rgba(219, 31, 46, 1);
  --theme-presence-active: rgba(39, 161, 122, 1);
  --theme-presence-away: rgba(201, 201, 201, 1);
  --theme-whiteboard-stickyNote-yellow: rgba(255, 190, 79, 1);
  --theme-whiteboard-stickyNote-red: rgba(252, 139, 152, 1);
  --theme-whiteboard-stickyNote-purple: rgba(242, 148, 241, 1);
  --theme-whiteboard-stickyNote-cyan: rgba(34, 199, 214, 1);
  --theme-whiteboard-stickyNote-mint: rgba(48, 201, 176, 1);
  --theme-avatar-default: rgba(255, 255, 255, 0.3);
  --theme-avatar-cobalt: rgba(8, 89, 156, 1);
  --theme-avatar-cyan: rgba(6, 96, 112, 1);
  --theme-avatar-gold: rgba(115, 81, 7, 1);
  --theme-avatar-lime: rgba(65, 97, 22, 1);
  --theme-avatar-mint: rgba(18, 97, 90, 1);
  --theme-avatar-orange: rgba(145, 64, 23, 1);
  --theme-avatar-pink: rgba(161, 42, 58, 1);
  --theme-avatar-purple: rgba(147, 32, 153, 1);
  --theme-avatar-slate: rgba(83, 85, 115, 1);
  --theme-avatar-violet: rgba(100, 58, 189, 1);
  --theme-scrollbar-button-normal: rgba(255, 255, 255, 0.2);
  --theme-scrollbar-button-hovered: rgba(255, 255, 255, 0.3);
  --theme-scrollbar-button-pressed: rgba(255, 255, 255, 0.4);
  --theme-scrollbar-arrow-background-normal: rgba(255, 255, 255, 0);
  --theme-scrollbar-arrow-background-hovered: rgba(255, 255, 255, 0.11);
  --theme-scrollbar-arrow-background-pressed: rgba(255, 255, 255, 0.2);
  --theme-scrollbar-background-secondary-ghost: rgba(255, 255, 255, 0);
  --theme-scrollbar-background-secondary-normal: rgba(255, 255, 255, 0.11);
  --theme-illustrations-empty-primary-0: rgba(147, 196, 55, 1);
  --theme-illustrations-empty-primary-1: rgba(39, 155, 232, 1);
  --theme-illustrations-empty-secondary-0: rgba(39, 155, 232, 1);
  --theme-illustrations-empty-secondary-1: rgba(135, 90, 224, 1);
  --theme-illustrations-onboarding-primary-0: rgba(255, 190, 79, 1);
  --theme-illustrations-onboarding-primary-1: rgba(147, 196, 55, 1);
  --theme-illustrations-onboarding-secondary-0: rgba(245, 88, 104, 1);
  --theme-illustrations-onboarding-secondary-1: rgba(135, 90, 224, 1);
  --theme-illustrations-onboarding-tertiary-0: rgba(255, 190, 79, 1);
  --theme-illustrations-onboarding-tertiary-1: rgba(242, 107, 29, 1);
  --theme-illustrations-onboarding-quartenary-0: rgba(147, 196, 55, 1);
  --theme-illustrations-onboarding-quartenary-1: rgba(39, 155, 232, 1);
  --theme-illustrations-onboarding-quinary-0: rgba(39, 155, 232, 1);
  --theme-illustrations-onboarding-quinary-1: rgba(135, 90, 224, 1);
  --theme-illustrations-success-0: rgba(60, 194, 154, 1);
  --theme-illustrations-success-1: rgba(147, 196, 55, 1);
  --theme-illustrations-error-0: rgba(240, 103, 126, 1);
  --theme-illustrations-error-1: rgba(219, 31, 46, 1);
  --theme-gradation-primary-0: rgba(26, 26, 26, 1);
  --theme-gradation-primary-1: rgba(15, 15, 15, 1);
  --theme-gradation-secondary-0: rgba(38, 38, 38, 1);
  --theme-gradation-secondary-1: rgba(15, 15, 15, 1);
}
