.md-modal-container-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  list-style: none;
  margin: 0;
  border: 0.0625rem var(--modal-primary-border-style) var(--modal-primary-border-color);
  outline: none;

  /* Arrow placement (svg arrow size is 12px, that's why the following offsets are set like that) */
  &[data-placement^='top'] > .md-modal-container-arrow-wrapper {
    top: 12px;
  }

  &[data-placement^='right'] > .md-modal-container-arrow-wrapper {
    left: -12px;
  }

  &[data-placement^='bottom'] > .md-modal-container-arrow-wrapper {
    top: -12px;
  }

  &[data-placement^='left'] > .md-modal-container-arrow-wrapper {
    right: -12px;
  }

  &[data-padded='true'] {
    padding: 0.5rem;
  }

  &[data-round='0'] {
    min-height: 0;
    min-width: 0;
  }

  &[data-round='25'] {
    border-radius: 0.25rem;
    min-height: 0.5rem;
    min-width: 0.5rem;
  }

  &[data-round='50'] {
    border-radius: 0.5rem;
    min-height: 1rem;
    min-width: 1rem;
  }

  &[data-round='75'] {
    border-radius: 0.75rem;
    min-height: 1.5rem;
    min-width: 1.5rem;
  }

  &[data-round='100'] {
    border-radius: 1rem;
    min-height: 2rem;
    min-width: 2rem;
  }

  &[data-round='125'] {
    border-radius: 1.25rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
  }

  &[data-round='150'] {
    border-radius: 1.5rem;
    min-height: 3rem;
    min-width: 3rem;
  }

  &[data-arrow-orientation='horizontal'] {
    &[data-round='0'] {
      min-height: 1.5rem;
    }

    &[data-round='25'] {
      min-height: 2rem;
    }

    &[data-round='50'] {
      min-height: 2.5rem;
    }

    &[data-round='75'] {
      min-height: 3rem;
    }

    &[data-round='100'] {
      min-height: 3.5rem;
    }

    &[data-round='125'] {
      min-height: 4rem;
    }

    &[data-round='150'] {
      min-height: 4.5rem;
    }
  }

  &[data-arrow-orientation='vertical'] {
    &[data-round='0'] {
      min-width: 1.5rem;
    }

    &[data-round='25'] {
      min-width: 2rem;
    }

    &[data-round='50'] {
      min-width: 2.5rem;
    }

    &[data-round='75'] {
      min-width: 3rem;
    }

    &[data-round='100'] {
      min-width: 3.5rem;
    }

    &[data-round='125'] {
      min-width: 4rem;
    }

    &[data-round='150'] {
      min-width: 4.5rem;
    }
  }

  &[data-color='primary'] {
    background-color: var(--theme-background-solid-primary-normal);
  }

  &[data-color='secondary'] {
    background-color: var(--theme-background-solid-secondary-normal);
  }

  &[data-color='tertiary'] {
    background-color: var(--theme-background-solid-tertiary-normal);
  }

  &[data-color='quaternary'] {
    background-color: var(--theme-background-solid-quaternary-normal);
  }

  &[data-elevation='0'] {
    box-shadow: var(--md-globals-elevation-0);
  }

  &[data-elevation='1'] {
    box-shadow: var(--md-globals-elevation-1);
  }

  &[data-elevation='2'] {
    box-shadow: var(--md-globals-elevation-2);
  }

  &[data-elevation='3'] {
    box-shadow: var(--md-globals-elevation-3);
  }

  &[data-elevation='4'] {
    box-shadow: var(--md-globals-elevation-4);
  }

  &[data-elevation='5'] {
    box-shadow: var(--md-globals-elevation-5);
  }

  &[data-elevation='6'] {
    box-shadow: var(--md-globals-elevation-6);
  }

  &[data-elevation='7'] {
    box-shadow: var(--md-globals-elevation-7);
  }

  &[data-elevation='8'] {
    box-shadow: var(--md-globals-elevation-8);
  }
}

.md-modal-container-arrow-wrapper {
  display: flex;
}
