.md-menu-trigger-wrapper {
  position: relative;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.md-menu-trigger-overlay {
  position: absolute;
  margin: 0;
  z-index: 10000;
  width: 18rem;
  margin-top: 0.25rem;
}

.md-menu-trigger-separator {
  border-top: 1px solid var(--theme-outline-primary-normal); //TODO: replace with token (in PR)
  height: 1px;
}
