.md-list-header-wrapper {
  color: var(--mds-color-theme-text-secondary-normal);
  font-size: 0.875rem;
  // Override margin between start section and middle/fill sections
  div[data-position='start'] {
    margin-right: 0.5rem;
  }

  // ListItemBase with size 32 is preventing text to be bold (by design).
  // We need to revert this in the ListHeader component. (see bold prop).
  &[data-bold='true'] {
    &[data-position='fill'],
    &[data-position='middle'] > *,
    .md-text-wrapper {
      font-weight: 750;
    }
  }
}

.list-header-separator {

  &[data-outline-only='true'] {
    height: 1px;
    margin-bottom: 0.25rem;
  }

  &[data-outline='true'] {
    border-radius: 0;
    background-clip: padding-box;

    &[data-outline-position='bottom'] {
      &[data-outline-color='primary'] {
        border-bottom: 1px solid var(--mds-color-theme-outline-primary-normal);
      }

      &[data-outline-color='secondary'] {
        border-bottom: 1px solid var(--mds-color-theme-outline-secondary-normal);
      }
    }

    &[data-outline-position='top'] {
      &[data-outline-color='primary'] {
        border-top: 1px solid var(--mds-color-theme-outline-primary-normal);
      }

      &[data-outline-color='secondary'] {
        border-top: 1px solid var(--mds-color-theme-outline-secondary-normal);
      }
    }
  }
}
