.md-checkbox-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 1rem;

  > .md-checkbox-selected,
  .md-checkbox-not-selected {
    height: 1rem;
    width: 1rem;
    border-radius: 0.125rem;
    margin-right: 0.5rem;
    outline: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &[data-disabled='false'] {
    .md-checkbox-icon {
      svg {
        fill: var(--mds-color-theme-inverted-text-primary-normal);
      }
    }

    > .md-checkbox-label {
      color: var(--mds-color-theme-text-primary-normal);
    }

    > .md-checkbox-selected {
      background-color: var(--mds-color-theme-control-active-normal);
    }

    > .md-checkbox-not-selected {
      background-color: var(--mds-color-theme-control-inactive-normal);
      border-style: solid;
      border-color: var(--mds-color-theme-outline-input-normal);
      border-width: 0.0625rem;
    }

    &:hover,
    &.hover {
      color: var(--mds-color-theme-text-primary-normal);

      > .md-checkbox-selected {
        background-color: var(--mds-color-theme-control-active-hover);
      }

      > .md-checkbox-not-selected {
        background-color: var(--mds-color-theme-control-inactive-hover);
      }
    }

    &:active,
    &.active {
      color: var(--mds-color-theme-text-primary-normal);

      > .md-checkbox-selected {
        background-color: var(--mds-color-theme-control-active-pressed);
      }

      > .md-checkbox-not-selected {
        background-color: var(--mds-color-theme-control-inactive-pressed);
      }
    }

    .md-checkbox-focus {
      box-shadow: var(--md-globals-focus-ring-box-shadow-accent);
    }

    &.focus {
      .checkbox {
        box-shadow: var(--md-globals-focus-ring-box-shadow-accent);
      }
    }
  }

  &[data-disabled='true'],
  &.disable {
    .md-checkbox-icon {
      svg {
        fill: var(--mds-color-theme-text-primary-disabled);
      }
    }

    color: var(--mds-color-theme-text-primary-disabled);

    > .md-checkbox-selected {
      background-color: var(--mds-color-theme-control-active-disabled);
      border-style: none;
    }

    > .md-checkbox-not-selected {
      background-color: var(--mds-color-theme-control-inactive-hover);
      border-style: none;
    }
  }
}
