.md-button-group-wrapper {
  align-items: center;
  display: flex;
  height: fit-content;
  width: fit-content;

  &[data-separator='true'] {
    border: 1px solid var(--mds-color-theme-outline-button-normal);
  }

  &[data-spaced='true'] {
    > * {
      margin: 0.25em;

      &:first-child {
        margin-left: 0.3em;
      }

      &:last-child {
        margin-right: 0.3em;
      }
    }
  }

  &[data-spaced='false'] {
    > * {
      margin: 0;
      border-radius: 0;
    }
  }

  &[data-round='true'] {
    border-radius: 100vh;

    &[data-spaced='false'] {
      > button {
        &:first-of-type {
          border-top-left-radius: 100vh;
          border-bottom-left-radius: 100vh;
        }

        &:last-of-type {
          border-top-right-radius: 100vh;
          border-bottom-right-radius: 100vh;
        }
      }

      &[data-separator='true'] {
        > button {
          &:not(:first-of-type) {
            border-image: -webkit-linear-gradient(
                top,
                rgba(1, 1, 1, 0) 25%,
                var(--mds-color-theme-outline-button-normal) 25%,
                var(--mds-color-theme-outline-button-normal) 75%,
                rgba(1, 1, 1, 0) 75%
              )
              1;
            border-image-width: 0px 0px 0px 1px;
          }
        }
      }

      &[data-compressed='true'] {
        > button {
          &:not(:first-of-type) {
            border-left: none;
            padding-left: 0.2rem;
          }

          &:not(:last-of-type) {
            border-right: none;
            padding-right: 0.2rem;
          }
        }
      }
    }
  }

  &[data-round='false'] {
    &[data-compressed='false'] {
      &[data-separator='true'] {
        > button {
          &:not(:first-of-type) {
            border-image: -webkit-linear-gradient(
                top,
                rgba(1, 1, 1, 0) 25%,
                var(--mds-color-theme-outline-button-normal) 25%,
                var(--mds-color-theme-outline-button-normal) 75%,
                rgba(1, 1, 1, 0) 75%
              )
              1;
            border-image-width: 0px 0px 0px 1px;
          }
        }
      }
    }

    &[data-compressed='true'] {
      > button {
        &:not(:first-of-type) {
          border-left: none;
        }

        &:not(:last-of-type) {
          border-right: none;
        }
      }

      &[data-spaced='false'] {
        > * {
          padding-left: 0.2rem;
          padding-right: 0.2rem;
        }
      }
    }
  }
}
