.md-button-group-wrapper {
  align-items: center;
  display: flex;
  height: fit-content;
  width: fit-content;

  &[data-spaced='true'] {
    > * {
      margin: 0.25em;

      &:first-child {
        margin-left: 0.3em;
      }

      &:last-child {
        margin-right: 0.3em;
      }
    }
  }

  &[data-spaced='false'] {
    > * {
      margin: 0;
      border-radius: 0;
    }
  }

  &[data-round='true'] {
    border-radius: 100vh;

    &[data-spaced='false'] {
      > * {
        &:first-child {
          border-radius: 100vh 0 0 100vh;
        }
        &:last-child {
          border-radius: 0 100vh 100vh 0;
        }
      }
    }
  }
}
