.md-tab-wrapper {
  border: 0rem solid rgba(0, 0, 0, 0); // IEFIX
  border: var(--md-globals-border-clear);
  cursor: pointer;
  font-family: CiscoSansTT; // IEFIX
  font-family: var(--md-globals-font-default);
  outline: none !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  /* Colorization */
  &[data-active='false'] {
    &[data-disabled='false'] {
      background-color: var(--mds-color-theme-button-secondary-normal);

      .md-text-wrapper,
      .md-icon-wrapper {
        color: var(--mds-color-theme-text-secondary-normal);
      }

      &:hover {
        background-color: var(--mds-color-theme-button-secondary-hover);

        .md-text-wrapper,
        .md-icon-wrapper {
          color: var(--mds-color-theme-text-primary-normal);
        }
      }

      &:active {
        background-color: var(--mds-color-theme-button-secondary-pressed);

        .md-text-wrapper,
        .md-icon-wrapper {
          color: var(--mds-color-theme-text-primary-normal);
        }
      }
    }

    &[data-disabled='true'] {
      background-color: var(--mds-color-theme-button-secondary-normal);

      .md-text-wrapper,
      .md-icon-wrapper {
        color: var(--mds-color-theme-text-primary-disabled);
      }
    }
  }

  &[data-active='true'] {
    background-color: var(--mds-color-theme-button-secondary-active-normal);

    .md-text-wrapper,
    .md-icon-wrapper {
      color: var(--mds-color-theme-text-secondary-normal);
    }

    &:hover {
      background-color: var(--mds-color-theme-button-secondary-active-hover);

      .md-text-wrapper,
      .md-icon-wrapper {
        color: var(--mds-color-theme-text-primary-normal);
      }
    }

    &:active {
      background-color: var(--mds-color-theme-button-secondary-pressed);

      .md-text-wrapper,
      .md-icon-wrapper {
        color: var(--mds-color-theme-text-primary-normal);
      }
    }

    > .md-icon-wrapper {
      &:last-child {
        transform: rotate(180deg);
      }
    }

    &[data-disabled='true'] {
      background-color: var(--mds-color-theme-button-secondary-normal);

      .md-text-wrapper,
      .md-icon-wrapper {
        color: var(--mds-color-theme-text-primary-disabled);
      }
    }
  }

  /* Sizing and spacing */
  border-radius: 0.875rem;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  display: flex;

  > *:not(:first-child) {
    margin-left: 0.5rem;
  }
}
