.md-reaction-button-wrapper {
  border-radius: 100vh;
  background-color: rgba(0, 0, 0, 1);
  background-color: var(--mds-color-theme-groupedbackground-primary-normal);

  &[data-reacted='true'] {
    background-color: rgba(255, 255, 255, 0.11) !important;
    background-color: var(--mds-color-theme-background-primary-active) !important;
  }

  .md-reaction-wrapper {
    &:hover {
      transform: scale(1.2);
    }
  }
}
