.md-input-message-wrapper {
  .md-input-message-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--mds-color-theme-text-primary-normal);
    fill: var(--mds-color-theme-text-primary-normal);

    &[message-level='error'] {
      color: var(--mds-color-theme-text-error-normal);
      fill: var(--mds-color-theme-text-error-normal);
    }

    &[message-level='warning'] {
      color: var(--mds-color-theme-text-warning-normal);
      fill: var(--mds-color-theme-text-warning-normal);
    }

    &[message-level='success'] {
      color: var(--mds-color-theme-text-success-normal);
      fill: var(--mds-color-theme-text-success-normal);
    }

    &[message-level='help'] {
      color: var(--mds-color-theme-text-secondary-normal);
      fill: var(--mds-color-theme-text-secondary-normal);
    }

    .md-input-message--icon {
      flex: 0 1 auto;
      flex-shrink: 0;

      & ~ .md-input-message--text {
        padding-left: 0.5rem;
      }
    }

    .md-input-message--text {
      flex: 0 1 auto;
    }
  }
}
