button.md-button-pill-wrapper.md-chip-wrapper.md-button-simple-wrapper {
  padding: 0rem;
}

.md-chip-wrapper {
  align-items: center;
  display: flex;

  &[data-error='true'],
  &[data-error='true']:hover,
  &[data-error='true']:active {
    background-color: var(--theme-background-alert-error-normal);
    color: var(--theme-text-error-normal);
    pointer-events: none;

    &[data-outline='true'] {
      border: 1px solid;
      border-radius: 1rem;
      border-color: var(--theme-outline-cancel-normal);
    }
  }

  &[data-error='false'] {
    &[data-outline='true'] {
      border: 1px solid;
      border-radius: 1rem;
      border-color: var(--theme-outline-primary-normal);
    }
  }

  > .md-chip-right-section {
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    padding: 0rem;
  }

  > .md-chip-left-section {
    margin-right: 0.25rem;
    margin-left: 0.5rem;
    padding: 0rem;

    &[data-avatar='true'] {
      margin-right: 0.25rem;
      margin-left: 0.125rem;
    }
  }

  > .md-chip-center-section {
    margin: 0rem;
    padding: 0rem;
  }

  > .md-chip-center-section:first-child:last-child {
    padding: 0em 0.625rem;
  }

  > .md-chip-center-section:first-child {
    padding-left: 0.625rem;
  }

  > .md-chip-center-section:last-child {
    padding-right: 0.625rem;
  }
}
