button.md-button-pill-wrapper.md-chip-wrapper.md-button-simple-wrapper {
  padding: 0rem;
}

.md-chip-wrapper {
  align-items: center;
  display: flex;
  border-radius: 1rem;

  &[data-error='true'],
  &[data-error='true']:hover,
  &[data-error='true']:active {
    background-color: var(--theme-background-alert-error-normal);
    color: var(--theme-text-error-normal);

    &[data-outline='true'] {
      border: 0.063rem solid;
      border-color: var(--theme-outline-cancel-normal);
    }
  }

  &[data-error='false'] {
    &[data-outline='true'] {
      border: 0.063rem solid;
      border-radius: 1rem;
      border-color: var(--theme-outline-primary-normal);
    }
  }

  &[data-multiline='true'] {
    border-radius: 0.875rem;

    &[data-modifier-color='orange'] {
      border-color: var(--chips-outline-multiline-text-orange);
      color: var(--chips-outline-multiline-text-orange);
    }

    &[data-modifier-color='lime'] {
      border-color: var(--chips-outline-multiline-text-lime);
      color: var(--chips-outline-multiline-text-lime);
    }

    &[data-modifier-color='mint'] {
      border-color: var(--chips-outline-multiline-text-mint);
      color: var(--chips-outline-multiline-text-mint);
    }

    &[data-modifier-color='cyan'] {
      border-color: var(--chips-outline-multiline-text-cyan);
      color: var(--chips-outline-multiline-text-cyan);
    }

    &[data-modifier-color='cobalt'] {
      border-color: var(--chips-outline-multiline-text-cobalt);
      color: var(--chips-outline-multiline-text-cobalt);
    }

    &[data-modifier-color='violet'] {
      border-color: var(--chips-outline-multiline-text-violet);
      color: var(--chips-outline-multiline-text-violet);
    }

    &[data-modifier-color='purple'] {
      border-color: var(--chips-outline-multiline-text-purple);
      color: var(--chips-outline-multiline-text-purple);
    }

    &[data-modifier-color='pink'] {
      border-color: var(--chips-outline-multiline-text-pink);
      color: var(--chips-outline-multiline-text-pink);
    }
  }

  &[data-search='true'] {
    border-width: 0rem;
  }

  > .md-chip-right-section {
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    padding: 0rem;
  }

  > .md-chip-left-section {
    margin-right: 0.25rem;
    margin-left: 0.5rem;
    padding: 0rem;

    &[data-avatar='true'] {
      margin-right: 0.25rem;
      margin-left: 0.125rem;
    }
  }

  > .md-chip-center-section {
    margin: 0rem;
    padding: 0rem;
  }

  > .md-chip-center-section:first-child:last-child {
    padding: 0em 0.625rem;

    &[data-search='true'] {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 0rem 0.438rem;

      &[data-size='24'] {
        padding: 0.063rem 0.5rem;
      }

      &[data-size='28'] {
        padding: 0.125rem 0.5rem;
      }
    }

    &[data-multiline='true'] {
      padding: 0rem 0.406rem;
      font-size: 0.875rem;
      font-weight: 600;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      line-height: 1.125rem;
    }
  }

  > .md-chip-center-section:first-child {
    padding-left: 0.625rem;
  }

  > .md-chip-center-section:last-child {
    padding-right: 0.625rem;
  }
}
