button {
  padding: 0em 0.25em 0em 0.25em !important;

  &[data-avatar='true'] {
    padding: 0em 0.25em 0em 0em !important;
  }
}

.md-chip-wrapper {
  align-items: center;
  display: flex;
  height: fit-content;
  width: fit-content;

  &[data-error='true'] {
    background-color: var(--theme-background-alert-error-normal);
    color: var(--theme-text-error-normal);

    &[data-outline='true'] {
      border: 1px solid;
      border-radius: 16px;
      border-color: var(--theme-outline-cancel-normal);
    }
  }

  &[data-error='false'] {
    &[data-outline='true'] {
      border: 1px solid;
      border-radius: 16px;
      border-color: var(--theme-outline-primary-normal);
    }
  }

  > .md-chip-right {
    margin-left: 0.438em;
    margin-right: 0.243em;
    padding: 0em;
  }

  > .md-chip-left {
    margin-right: 0.313em;
    margin-left: 0.215em;
    padding: 0em;

    &[data-avatar='true'] {
      margin-right: 0.25em;
      margin-left: 0.125em;
    }
  }

  > .md-chip-center {
    white-space: nowrap;
    margin: 0em;
    padding: 0em;
  }

  > .md-chip-center:first-child:last-child {
    padding: 0em 0.625em;
  }

  > .md-chip-center:first-child {
    padding-left: 0.625em;
  }

  > .md-chip-center:last-child {
    padding-right: 0.625em;
  }
}
