/** @component MeetingContainer */

.md-meeting-container-wrapper {
  > .md-meeting-container-container {
    margin: 0.25rem 0.5rem 0.25rem 0.25rem;
    display: flex;
    flex-grow: 1;
    min-width: 0;

    > .md-meeting-container-actions {
      display: flex;
      align-items: center;

      &[data-anchor='top'] {
        align-items: flex-start;
      }
    }

    > .md-meeting-container-details {
      flex-grow: 1;
      margin: 0 0.5rem;
      min-width: 0;

      .md-meeting-container-space-link {
        white-space: nowrap;
      }

      > *:first-child {
        > *:first-child {
          &[data-disabled='true'] {
            color: var(--mds-color-theme-text-primary-disabled);
          }
        }
      }

      > div {
        display: flex;
        align-items: center;

        > *[data-color='success'] {
          color: var(--mds-color-theme-text-success-normal);
        }

        > *[data-color='secondary'] {
          color: var(--mds-color-theme-text-secondary-normal);
        }

        > .md-divider-dot-wrapper {
          margin: 0 0.5rem;
          flex-shrink: 0;
        }
      }

      > .md-meeting-container-tags {
        > :first-child {
          margin-left: 0;
        }
      }
    }

    > .md-meeting-container-avatar {
      display: flex;
      align-items: center;

      &[data-anchor='top'] {
        align-items: flex-start;
        margin-top: 0.5rem;
      }
    }
  }
}
