.md-avatar-outer-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.md-avatar-presence-icon-wrapper {
  position: absolute;
  background-color: var(--theme-background-solid-primary-normal);
  border-radius: 100vh;
  width: 1.125rem;
  height: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -0.2rem;
  right: -0.2rem;
}

.md-avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vh;
  position: relative;

  span {
    font-weight: 500;
    color: var(--avatar-color-avatar-text);
  }

  img {
    border-radius: 100vh;
    height: inherit;
    width: inherit;
    object-fit: cover;

    &.md-avatar-image-hidden {
      display: none;
    }
  }

  .md-avatar-icon-wrapper {
    fill: var(--avatar-color-avatar-text);
  }

  // Background Color
  &[data-color=default] {
    background-color: var(--avatar-color-avatar-background-default);
  }

  &[data-color=gold] {
    background-color: var(--avatar-color-avatar-background-gold);
  }

  &[data-color=orange] {
    background-color: var(--avatar-color-avatar-background-orange);
  }

  &[data-color=lime] {
    background-color: var(--avatar-color-avatar-background-lime);
  }

  &[data-color=mint] {
    background-color: var(--avatar-color-avatar-background-mint);
  }

  &[data-color=cyan] {
    background-color: var(--avatar-color-avatar-background-cyan);
  }

  &[data-color=cobalt] {
    background-color: var(--avatar-color-avatar-background-cobalt);
  }

  &[data-color=slate] {
    background-color: var(--avatar-color-avatar-background-slate);
  }

  &[data-color=violet] {
    background-color: var(--avatar-color-avatar-background-violet);
  }

  &[data-color=purple] {
    background-color: var(--avatar-color-avatar-background-purple);
  }

  &[data-color=pink] {
    background-color: var(--avatar-color-avatar-background-pink);
  }

  // Sizes
  &[data-size="24"] {
    span {
      font-size: 0.75rem;
    }

    .md-avatar-presence-icon-wrapper {
      width: 0.75rem;
      height: 0.75rem;
    }

    width: 1.5em;
    height: 1.5em;
  }

  &[data-size="32"] {
    span {
      font-size: 0.875rem;
    }

    .md-avatar-presence-icon-wrapper {
      width: 1rem;
      height: 1rem;
    }

    width: 2em;
    height: 2em;
  }

  &[data-size="48"] {
    span {
      font-size: 1.125rem;
    }

    .md-avatar-presence-icon-wrapper {
      width: 1.125rem;
      height: 1.125rem;
    }

    width: 3em;
    height: 3em;
  }

  &[data-size="72"] {
    span {
      font-size: 1.625rem;
    }

    .md-avatar-presence-icon-wrapper {
      width: 1.5rem;
      height: 1.5rem;
    }

    width: 4.5em;
    height: 4.5em;
  }

  &[data-size="88"] {
    span {
      font-size: 1.625rem;
    }

    .md-avatar-presence-icon-wrapper {
      width: 2rem;
      height: 2rem;
    }

    width: 5.5em;
    height: 5.5em;
  }

  &[data-size="124"] {
    span {
      font-size: 2.5rem;
    }

    .md-avatar-presence-icon-wrapper {
      width: 2.75rem;
      height: 2.75rem;
    }

    width: 7.75em;
    height: 7.75em;
  }
}

