.copy-spacing {
  section {
    padding-bottom: 36px;
    margin-bottom: 64px;
    border-bottom: 1px solid $md-gray-30;

    &:last-of-type {
      border: none;
    }
  }
}

// focus selector for all elements except mdc-button, since mdc-button has its own focus styles
*:not(mdc-button):focus {
  @include focus-styles;
}
