.copy-spacing {
  section {
    padding-bottom: 36px;
    margin-bottom: 64px;
    border-bottom: 1px solid $md-gray-30;

    &:last-of-type {
      border: none;
    }
  }
}

// focus selector for all elements except mdc-button, mdc-chip etc since mdc-button has its own focus styles
*:not(mdc-button, mdc-chip, mdc-dialog, mdc-card, mdc-cardbutton, mdc-accordion, mdc-accordionbutton, mdc-popover, mdc-tooltip, mdc-menupopover, mdc-select):focus {
  @include focus-styles;
}
