.md-overlay-alert-modal-container {
    max-width: 25rem;
    min-width: 20rem;

    > :first-child {
      width: 100%;
      margin-bottom: -0.5rem;

      > :last-child {
        display: flex;
        justify-content: end;
      }
    }

    > .md-overlay-alert-title {
      width: 100%;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    > :not(:first-child):not(:last-child):not(.md-overlay-alert-title) {
      padding: 0.5rem 1.25rem 0;
      width: 100%;

      > .md-overlay-alert-details {
        display: block;
        line-height: 1.25rem;
        color: var(--mds-color-theme-text-secondary-normal);
      }
    }

    > :last-child {
      display: flex;
      justify-content: flex-end;
      padding: 1.25rem 1.25rem;
      width: 100%;

      > * {
        margin-left: 0.5rem;
      }
    }
}
