.md-modal-arrow-svg {
  path {
    stroke: var(--mds-color-theme-outline-secondary-normal);
    stroke-width: 0.125rem;

    &[data-color='primary'] {
      fill: var(--mds-color-theme-background-solid-primary-normal);
    }

    &[data-color='secondary'] {
      fill: var(--mds-color-theme-background-solid-secondary-normal);
    }

    &[data-color='tertiary'] {
      fill: var(--mds-color-theme-background-solid-tertiary-normal);
    }

    &[data-color='quaternary'] {
      fill: var(--mds-color-theme-background-solid-quaternary-normal);
    }
  }
}
