.md-accordion-wrapper {
  .md-accordion-header-row {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    gap: 0.5rem;
  }

  .md-accordion-header-heading {
    width: 100%;
  }

  .md-accordion-header-button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: none;
    border: none;
    justify-content: flex-start;
  }
}
