.md-global-search-input-wrapper {
  position: relative;
  border-radius: 6.25rem;
  width: 22.5rem;
  background-color: var(--globalHeader-textfield-background);
  border: 1px solid transparent;
  box-sizing: border-box;
  height: 1.75rem;
  display: flex;
  align-content: center;

  &.search-input-focus {
    border: 1px solid var(--globalHeader-textfield-border-color-focused);
  }

  &:hover {
    background-color: var(--globalHeader-textfield-background-hovered);
  }

  .input-container {
    position: relative;
    display: flex;
    flex-grow: 1;
  }

  label {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  input {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    color: var(--globalHeader-textfield-text);
    font-family: var(--md-globals-font-default);
    font-size: 0.875rem;
    height: 1.75rem;
    display: inline-block;
    flex: 1;

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: var(--globalHeader-textfieldPlaceholderText-text);
    }
  }  

  .aria-alert {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .search-icon {
    margin-left: 1.125rem;
    margin-right: 0.5625rem;
    height: 1.625rem;
    align-content: center;
    flex-grow: 0;
  }

  .clear-icon {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.25rem;
    color: var(--globalHeader-buttonIcon-icon);

    &:active {
      color: var(--globalHeader-buttonIcon-icon-pressed);
    }
  }

  .search-context-container {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 1.625rem;

    &.remove-padding {
      margin-right: 0.0625rem;
      padding-right: 0.0625rem;

      p {
        padding-right: 0;
        margin-right: 0;
      }
    }

    p {
      box-sizing: border-box;
      background-color: var(--globalHeader-modifierChip-background);
      color: var(--globalHeader-modifierChip-text);
      z-index: 1;
      border-radius: 0.5rem;
      padding: 0.125rem 0.0625rem 0.125rem 0.0625rem;
      margin-top: 0.0625rem;
      margin-right: 0.0625rem;
      font-size: 0.875rem;
      height: 1.5rem;
      margin: 0;
      line-height: 1.5rem;
      white-space: pre-wrap;
    }
  }

  ::-webkit-search-cancel-button{
    -webkit-appearance: none;
    pointer-events: none;
  }
}
