.md-link-wrapper {
  border: var(--md-globals-border-clear);
  color: var(--mds-color-theme-text-accent-normal);
  cursor: pointer;
  outline: none !important;
  padding: 0;
  text-decoration: underline;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: inline-block;

  // have based a:focus style on momentum-ui.css.
  // need to overwright focus style
  &:focus,
  &.focus {
    color: var(--mds-color-theme-text-accent-normal);
  }

  &:hover,
  &.hover {
    color: var(--mds-color-theme-text-accent-hover);
  }

  &:active,
  &.active {
    color: var(--mds-color-theme-text-accent-active);
  }

  &[data-inverted='true'] {
    color: var(--mds-color-theme-teaching-text-accent-normal);

    &:focus,
    &.focus {
      color: var(--mds-color-theme-teaching-text-accent-normal);
    }

    &:hover,
    &.hover {
      color: var(--mds-color-theme-teaching-text-accent-hover);
    }

    &:active,
    &.active {
      color: var(--mds-color-theme-teaching-text-accent-hover);
    }

    &[data-disabled='true'],
    &.disable {
      color: var(--mds-color-theme-teaching-text-accent-disabled);
      cursor: auto;
    }
  }

  &[data-disabled='true'],
  &.disable {
    color: var(--mds-color-theme-text-primary-disabled);
    cursor: auto;
  }
}

.md-link-container {
  display: flex;
  align-items: center;

  .md-link-icon {
    margin-left: 0.3125rem;
  }
}

.md-link-ButtonPillLink {
  text-decoration: none;
}

.md-link-button-wrapper {
  border: var(--md-globals-border-clear);
  border-width: 0.0625rem;
  cursor: pointer;
  font-family: var(--md-globals-font-default);
  outline: none !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  background-color: var(--mds-color-theme-button-primary-normal);
  color: var(--mds-color-theme-text-inverted-normal);
  align-items: center;
  border-radius: 100vh;
  display: flex;
  flex-shrink: 0;
  justify-content: space-evenly;
}
