@import '../../settings/focus';

@mixin focus-styles($border-color: transparent, $focus-visible-only: true) {
  @if $border-color {
    border-color: $border-color;
  }

  outline: none !important;
  box-shadow: var(--md-globals-focus-ring-box-shadow);

  @media (forced-colors: active) {
    outline: 0.125rem solid var(--mds-color-theme-outline-theme-normal) !important;
  }

  @if $focus-visible-only {
    &:not(:focus-visible) {
      box-shadow: none;

      @media (forced-colors: active) {
        outline: none !important;
      }
    }
  }
}

@mixin tab-focus($dark: false) {
  outline: none;

  @if $dark==false {
    box-shadow: 0 0 0 $focus__size $focus__color;
  } @else {
    box-shadow: 0 0 0 $focus__size $focus__color--dark;
  }
}

@mixin remove-focus() {
  outline: 0;
  box-shadow: none;
}
